<section class="login">
  <% flash.each do |key, message| %>
    <%= content_tag :div, message, class: key %>
  <% end %>
  <h2>Editor Login</h2>
  <%= button_to "Log in with Facebook", "/auth/facebook", class: 'button facebook-button' %>
</section>
