<section class="login">
  <% flash.each do |key, message| %>
    <%= content_tag :div, message, class: key %>
  <% end %>
  <h2>Admin Login</h2>
  <%= button_to "Log in", "/auth/auth0", class: 'button' %>
</section>
