<% content_for :head do %>
  <% if Rails.configuration.x.facebook.app_id %>
    <meta content="<%= Rails.configuration.x.facebook.app_id %>" property="fb:app_id"/>
  <% end %>
  <%= opengraph_image_meta_tag %>
<% end %>

<section class="login">
  <%= render "shared/flash" %>

  <h2>Editor Login</h2>
  <%= button_to "Log in with Facebook", "/auth/facebook", class: 'button facebook-button' %>
</section>
