.bundle
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
.rvmrc
.ruby-version
.sass-cache/
coverage/*
public/assets/

# Ignore application configuration
/config/application.yml

# Maybe these will be included at some point, but not now:
.bowery
Dockerfile
