.bundle
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
.rvmrc
.sass-cache/
node_modules/
coverage/*
public/assets/

# Ignore application configuration
.env

# Maybe these will be included at some point, but not now:
.bowery
Dockerfile
