<li class="donation">
  <p>
    If you find <%= tc("site_name") %> useful,
    please consider showing your appreciation:
  </p>
  <div class="share_buttons">
    <%= donate_button %>
    <%= twitter_button %>
    <%= facebook_button %>
  </div>
</li>
