<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v18.0&appId=<%= facebook_app_id %>" nonce="DsyYd9vs"></script>

<div class="fb-like" data-href="<%= url %>" data-layout="button", data-share="true">
  <%= text %>
</div>
