<%= date_row(date, @today) do %>
  <h3><%= date_header(date, @today) %></h3>
  <ul class="unstyled">
    <% socials.each do |social| %>
      <%= social_listing(social, date) %>
    <% end %>
  </ul>
<% end %>
