<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>TESTING</h1>
    <p>
      You have successfully sent an email
    </p>
  </body>
</html>
