<h1>Editing organiser</h1>

<%= render partial: "new_or_edit_fields", locals: {action: "Update" } %>

<div class="actions">
  <%= link_to 'Show', @organiser %> |
  <%= link_to 'Back', organisers_path %> |
  <%= conditional_delete_tag(@organiser) %> |
</div>
