#admin_bar {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: #464646;

  .navlink {
    text-align: center;
    border: 1px solid #333;
    background-color: #464646;
    color: #ccc;
    border-left: 0;
    border-top: 0;
  }

  .home {
    flex-grow: 1;
  }

  .menu-toggle-btn,
  a {
    display: block;
    padding: 8px 15px;

    &:hover {
      background-color: #3a3a3a;
      border-bottom: 0;
    }
  }

  .menu-items {
    width: 100%;
    display: none;
  }

  .account-link {
    display: none;
  }

  .menu-toggle {
    display: none;

    &:checked ~ .menu-items {
      display: block;
    }

    &:checked ~ .account-link {
      display: block;
    }
  }

  .menu-toggle-btn {
    display: block;
  }

  .account-link {
    width: 100%
  }

  @media (width >= 600px) {
    .account-link {
      display: block;
      width: auto;
      flex-basis: fit-content;
      border-right: none;
      margin-left: auto;
    }
  }

  @media (width >= 1260px) {
    .home {
      flex-grow: 0;
    }

    .account-link {
      border-left: 1px solid #333;
    }

    .menu-items {
      display: flex;
      flex-basis: fit-content;
    }

    .menu-toggle-btn {
      display: none;
      cursor: pointer;
    }
  }
}
