@use "../shared/colours";

.user-list {
  .user {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid colours.$gray;
    border-bottom-style: none;
    padding: 15px;

    &:last-child {
      border-bottom-style: solid;
    }
  }

  .user-data {
    .label {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }

  .user-list-header {
    display: none
  }

  @media only screen and (width >= 767px) {
    .user-list {
      width: fit-content;
      min-width: 700px;
    }

    .user {
      flex-direction: row;
      padding: 0 20px;
    }

    .user-data {
      padding: 15px 0;

      .label {
        display: none;
      }
    }

    .user-id {
      width: 150px
    }

    .user-list-header {
      display: flex;
      background-color: colours.$gray;
      color: white;
      padding: 15px 20px;
      gap: 15px;
    }
  }
}
