// SMALL
#admin_bar {
  font-family: Helvetica, Arial, sans-serif;

  .navlink--wrapper {
    background-color: #464646;
    color: #ccc;
    border-top: 1px solid #333;
    display: flex;
    flex-wrap: wrap;
  }

  .navlink {
    text-align: center;
    border: 1px solid #333;
    border-left: 0;
    border-top: 0;
    flex-grow: 1;
  }

  a {
    display: block;
    padding: 8px 15px;

    &:hover {
      background-color: #3a3a3a;
      border-bottom: 0;
    }
  }
}

// Links stop wrapping above this
@media only screen and (min-width: 845px) {
  #admin_bar {
    z-index: 100;
    position: sticky;
    top: 0;

    .navlink {
      flex-grow: 0;
    }

    .navlink-right {
      border-right: none;
      border-left: 1px solid #333;
      margin-left: auto;
    }
  }
}
