@use "../shared/colours";

.audit_logs {
  table {
    margin: 10px 0;
  }

  .timestamp {
    min-width: 70px;
  }

  .editor {
    color: colours.$green;
  }

  .action {
    color: colours.$blue;
  }

  .record {
    min-width: 250px;
  }

  .changes {
    color: colours.$gray;
    max-width: 500px;
    word-break: break-all;
  }
}
