@import "../colours";

form {
  .form-group {
    margin-bottom: 0.5em;
  }

  .form-group-title {
    font-size: 20px;
    margin: 20px 0 5px 155px;
  }

  .help {
    font-style: italic;
    color: $lowlight-colour;
  }

  p.help {
    margin-left: 155px;
  }

  input[type="text"] {
    width: 30em;
  }

  label.inline-label {
    width: inherit;
    float: none;
    padding-left: 2em;
  }

  input.shortfield {
    width: inherit;
  }

  textarea {
    white-space: pre;
    width: 30em;
    height: 5em;
  }

  textarea.deep {
    height: 10em;
  }

  textarea.narrow {
    width: 10em;
  }

  .warning-message {
    color: #b94a48;
    background-color: #f2dede;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    strong {
      font-size: 1.2em;
    }
  }

  label {
    font-weight: bold;
    width: 135px;
    float: left;
    text-align: right;
    padding-right: 20px;
  }

  input[type=submit] {
    margin-left: 155px;
    line-height: 1.5;
    clear: left;
  }
}

div.actions {
  margin-left: 155px;
  line-height: 1.5;
  clear: left;

  .inactive {
    color: $lowlight-colour;
    font-style: italic;
  }
}

// Rails Errors
/////////////////////////////////////////////
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
