@import "../shared/colours";

form {
  .form-group {
    margin-bottom: 0.5em;
  }

  .form-group-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .form-group-nested {
    margin-left: 25px;

    label {
      font-weight: normal;
    }
  }

  .radio-group {
    label {
      display: inline-block;
    }
  }

  .help {
    font-style: italic;
    color: $lowlight-colour;
  }

  p.help {
    margin-bottom: 5px;
  }

  .new-label {
    padding: 0.3em 0.6em;
    margin-right: 0.2em;
    position: relative;
    bottom: 0.1em;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #fee6b8;
    background-color: $text-colour;
    font-style: normal;
  }

  label {
    font-weight: bold;
    font-size: 16px;
  }

  input[type="text"] {
    width: 30em;
  }

  input.shortfield {
    width: inherit;
  }
}

.show .actions {
  margin-left: calc(135px + 20px);
}

div.actions {
  line-height: 1.5;
  clear: left;

  .inactive {
    color: $lowlight-colour;
    font-style: italic;
  }

  input[type="submit"] {
    display: inline-block;
  }
}

form.new_organiser,
form.edit_organiser,
form.new_venue,
form.edit_venue {
  .form-group-title {
    margin-left: 155px;
  }

  p.help {
    margin-left: 155px;
  }

  textarea {
    white-space: pre;
    width: 30em;
    height: 5em;
  }

  textarea.deep {
    height: 10em;
  }

  textarea.narrow {
    width: 10em;
  }

  label {
    width: 135px;
    float: left;
    text-align: right;
    padding-right: 20px;
  }

  input[type="submit"] {
    line-height: 1.5;
    clear: left;
  }

  div.actions {
    margin-left: 155px;
  }
}

form.new_event,
form.edit_event {
  margin: 0 10px;

  @media only screen and (min-width: 481px) {
    margin: 0 40px;
  }

  label {
    display: block;
    margin-bottom: 4px;
    font-family: sans-serif;
  }

  .radio-group {
    label {
      display: inline-block;
    }
  }

  .form-group,
  .form-subgroup {
    margin-bottom: 15px;
  }

  .form-group-title {
    margin: 3px 0 5px;
  }

  .form-subgroup-title {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }

  section {
    padding: 10px 15px 5px;
    margin: 20px 0;
    border: 1px solid;
  }
}

// Rails Errors
/////////////////////////////////////////////
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
