.venue_info.vcard
  %h3.url.fn= link_to venue.name, venue.website
  .adr
    - venue.address.split(',').each do |address_line|
      %p=address_line unless address_line.strip == "London"
    %p.postal-code
      = venue.postcode