<div class="venue_info">
  <h3>
    <%= link_to venue.name, venue.url %>
  </h3>

  <div class="address">
    <% venue.address_lines.each do |address_line| %>
      <p>
        <%= address_line %>
      </p>
    <% end %>
    <p>
      <%= venue.postcode %>
    </p>
  </div>
</div>
