<div class="venue_info vcard">
  <h3 class="url fn">
    <%= link_to venue.name, venue.url %>
  </h3>

  <div class="adr">
    <% venue.address_lines.each do |address_line| %>
      <p>
        <%= address_line %>
      </p>
    <% end %>
    <p class="postal-code">
      <%= venue.postcode %>
    </p>
  </div>
</div>
