<div class="venue-info-body">
  <div class="address">
    <% venue.address_lines.each do |address_line| %>
      <p>
        <%= address_line %>
      </p>
    <% end %>
    <p>
      <%= venue.postcode %>
    </p>
  </div>
</div>
