= render partial: "map_info_address", locals: { marker_info: marker_info }

%ul.listing_info
  - marker_info.social_listings.each do |event_listing|
    %li
      %span.social_date= "#{event_listing.when}:"
      %span.event_details= mapinfo_social_listing(event_listing)

%p.nota_bene
  %em N.B. Swing Out London only lists events for the next 14 days
