<%= render partial: "map_info_address", locals: { venue: } %>

<ul class="listing_info">
  <% listings.each do |social_listings_row| %>
    <li>
      <span class="social_date">
        <%= "#{ social_listings_row.date }:" %>
      </span>
      <span class="event_details">
        <%= mapinfo_social_listing(social_listings_row.social_listing) %>
      </span>
    </li>
  <% end %>
</ul>

<p class="nota_bene">
  <em>N.B. <%= tc("site_name") %> only lists events for the next 14 days</em>
</p>

