= render partial: "map_info_address", locals: { venue: venue }

%ul.listing_info
  - events.each do |date, socials_on_date, cancelled_ids|
    - socials_on_date.each do |social|
      - cancelled = cancelled_ids.include?(social.id) unless cancelled_ids.nil?
      %li
        %span.social_date= "#{date.to_s(:listing_date)}:"
        %span.event_details= mapinfo_social_listing(social, cancelled)

%p.nota_bene
  %em N.B. Swing Out London only lists events for the next 14 days
