- content_for :description do
  A map of all the classes in London teaching Lindy Hop, Charleston, Balboa, Blues, Authentic Jazz and Collegiate Shag 

- content_for :listings do
  %ul
    - DAYNAMES.each do |day|
      %li 
        = link_to_unless (day == @day), day.pluralize, day: day, anchor: "current" do
          %span#current= day.pluralize
  %p.note
    %em Unless otherwise stated all classes are primarily Lindy Hop