- content_for :title do
  Swing Out London's Lindy Map:
  -if @day
    on #{ @day.pluralize }

- content_for :description do
  -# This just about fits on a google search result:
  A map of all the Lindy Hop classes in London
  -if @day
    on #{ @day.pluralize },
  also classes in other swing dance styles: Charleston, Balboa, Blues, Authentic Jazz and Collegiate Shag

- content_for :listings do
  %ul
    - DAYNAMES.each do |day|
      %li
        = link_to day.pluralize, { day: day }, { class: ["js-update-map", (:selected if day == @day)], data: { url: map_classes_path(day, format: :json) } }
  %p.note
    %em Unless otherwise stated all classes are primarily Lindy Hop
