---
http_interactions:
- request:
    method: delete
    uri: https://graph.facebook.com/12345678901234567/permissions?appsecret_proof=<APPSECRET_PROOF>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <FACEBOOK_API_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Wed, 07 Nov 2018 20:09:13 GMT
recorded_with: VCR 4.0.0
