---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/12345678901234567?appsecret_proof=<APPSECRET_PROOF>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7958ad230c6c09f764091d38e6ae96fe295fdfc6"'
      Content-Type:
      - text/javascript; charset=UTF-8
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Facebook-Api-Version:
      - v17.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"name":"Dawn Hampton","id":"12345678901234567"}'
  recorded_at: Tue, 27 Feb 2024 15:28:06 GMT
- request:
    method: get
    uri: https://graph.facebook.com/98765987659876598?appsecret_proof=<APPSECRET_PROOF>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
        - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"05efa669ec1b3a0568648a7506a86348c79c8308"'
      Content-Type:
      - text/javascript; charset=UTF-8
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Facebook-Api-Version:
      - v17.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"name":"Herbert White","id":"98765987659876598"}'
  recorded_at: Tue, 27 Feb 2024 15:28:06 GMT
recorded_with: VCR 6.2.0
