/* RESET  */
/* By Eric Meyer: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* END RESET */






/*DIFFERENCE*/
body {
  font-family: Futura, "Tw Cen MT", "Trebuchet MS", sans-serif;
  color: #0F0F0F;
  font-size: 0.875em;/* = 14px */
}
/*DIFFERENCE*/
#page{
  background: #FEE6B8 none;
  width:480px;
}

a {
  text-decoration:none;
  color:#384F6E;  
}

a:hover {border-bottom:solid 2px;}

p, li, address {
  line-height:1.5em;
}

p {
  text-align:justify;
  margin-bottom:0.8em;
}

p em {font-style:italic}

q:before, q:after {
  content:'"';
}

ul.textlist {
  list-style-type: disc;
  padding-left:3em;
}

ul.indent {
  list-style-type: square;
}

ul.textlist li {
  padding-left: 0.5em;
}

ul.navigation, .compass {
  text-transform: uppercase;
}
.section_heading {
  text-transform: uppercase;
  text-align:center;
  line-height:1.5em;
}

h3 {
  font-size:1.2em;
}


/* LAYOUT */

#title {
  padding: 20px;
}

/*DIFFERENCE - removed #page styles*/

/* HEADER */

.site_title {
  padding-top:50px;
  font-size:1.43em;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  text-transform:uppercase;
  text-align:center;
}

.site_title em {
  font-size:3.24em;
  letter-spacing: 0;
  display:block;
  margin-bottom:30px;
}

.site_title a {color:#0F0F0F;}
.site_title a:hover {border:none;}

#last_updated_ago {
  font-style:italic;
  text-align:center;
  margin-bottom:10px;
}

/* SITE DESCRIPTION */

/*DIFFERENCE - removed layout styling, added border*/
#site_description {
  margin:30px;
  padding-bottom:30px;
  border-bottom: 3px solid #0F0F0F;
}

#site_description a {
  text-transform:capitalize;
  font-size:1.2em;
}
#site_description a[href^='mailto:'] {
  color:#C00;
}

/*DIFFERENCE - changed layout styling*/
#social_media {
  margin:30px 30px 10px 30px;
}

#social_media #like_message{
  margin-bottom:0.5em;
}

.twitter-share-button {
  position:relative;
  top:3px;
}

#latest_tweet{
  text-align:left;
  line-height:1.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-style:italic;
  font-size:0.9em;
  padding: 8px;
  border: 6px double #0F0F0F;
}

#latest_tweet a {
  color:#C00;
}
#latest_tweet a.tweet_created {
  font-size:0.8em;
  color:#384F6E;
}

#caveat {
  font-style:italic;
  clear:left;
  text-align:center;
  padding: 0.8em 10px 30px 0;
  margin:0 50px;
  border-bottom: 3px solid #0F0F0F;
}

#caveat strong {
  text-transform: uppercase;
  display:block;
  margin-bottom:0.4em;
  font-size:1.2em;
  color:#C00;
}



/*NAVIGATION*/

ul.navigation {
  list-style-type:none;
  letter-spacing: 0.1em;
  line-height:3.5em;
}

ul.navigation li {
  display:inline;
  margin:0 0.5em 0 0;
  padding:0 0 0 1em;
  white-space:nowrap;
}

#main_nav, #admin_nav {
  text-align:center;
  clear:both;
}

#admin_nav {
  padding:1em 0;
}

/*DIFFERENCE - changed padding to force nav configuration*/
#main_nav {
  font-size:1.14em;
  margin: 0 30px;
  padding:0 30px 15px 30px;
  border-bottom: 3px solid #0F0F0F;
}

ul.navigation a {
  color: #0F0F0F;
}

/*DIFFERENCE - 'about' link will be pushed onto next line so doesn't need a separator*/
ul.navigation li.about_link {
  border:none;
}

#main_nav a, #admin_nav a {
  padding: 10px; /*added here so we can take it away when we apply the border*/
} 

#main_nav a:hover, #admin_nav a:hover {
  text-decoration:none;
  padding: 8px;
  border: 2px solid #0F0F0F;
}
.index #main_nav a.internal:hover {
 background: url("../images/downarrow.png") no-repeat 50% 95%;  
}

#main_nav .current, #admin_nav .current {
  padding: 8px;
  border: 6px double #0F0F0F;
  display:inline-block;
}

#footer_nav a:hover {
  border-bottom: 1px solid #0F0F0F;
}

#footer_nav .current {
  padding: 5px;
  border: 1px solid #0F0F0F;
}

#main_nav li, #admin_nav li { border-left:3px solid #0F0F0F;}

#footer_nav li { border-left:1px solid #0F0F0F;}

#main_nav li:first-child, #admin_nav li:first-child, #footer_nav li:first-child {
  border:none;
  padding-left:0;
}


/* FOOTER */

#footer {
  clear:both;
  font-size:0.91em;
  text-align:center;
}
    
/*DIFFERENCE - removed left alignment increased padding */
#footer_nav {
  margin: 0 40px;
  padding:2.5em 60px 0 60px;
  border-top: 3px solid #0F0F0F;
}

/*DIFFERENCE - removed the validation link */
#valid_statement {
  display:none;
}

address, #last_updated{
  display:inline-block;
  padding: 15px 0 20px 0;
}

/* INDEX PAGE */

/*DIFFERENCE - removed most layout styling from #classes and #socials */
#classes, #socials {
  margin:0 20px;
}

/*DIFFERENCE - changed margins */
#classes h2, #socials h2 {
  font-size:1.6em;
  text-align:center;
  text-transform:none;
}
/*DIFFERENCE - changed margins */
#classes h2{
  margin:35px 10px 0 10px;
}
/*DIFFERENCE - changed margins, added separator */
#socials h2{
  margin:0 30px;
  padding-top:50px;
  border-top: 3px solid #0F0F0F;
}


.index h2 em {
  text-transform:uppercase;
  font-size:1.83em;
  letter-spacing: 0.1em;
  display:block;
  margin-bottom:0.2em;
}

#socials h3 {font-size:1.4em;}

/*DIFFERENCE -changed margins */
#classes ul.daylist, #socials ul.datelist {
  margin:1.2em 0 30px 0;
}

/*DIFFERENCE - removed all layout styling from #classes ul and #socials ul */
#key {
  margin: 20px 30px;
  font-size:1.2em;
  font-style:italic;
}

#classes ul.daylist h3 {
  float:left;
}

li.day_row li {
  margin-left:7.5em;
}

li.date_row li, li.day_row li {
  padding-left:3px;/*to account for the border we apply when it's today*/
}

#socials ul.datelist h3 {
  display:block;
  text-align:center;
  margin-bottom:0.5em;
}

li.day_row, li.date_row {
  padding:1em 10px 0.4em 10px;
  line-height:1.4em;
}

/* Padding between rows*/
li.day_row li, li.date_row li {
  margin-bottom:0.6em;
}
li.day_row a, li.date_row a {color: #0F0F0F;}

li.today { 
  border: 3px dashed #0F0F0F;
  margin-bottom:0.9em;
}
li.today:target { 
  border-color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
li.today li {padding:0;}

.today_label, .tomorrow_label {text-transform: uppercase;}

li.date_row .today_label, li.date_row .tomorrow_label {letter-spacing: 0.1em}
li.date_row .today_label:after, li.date_row .tomorrow_label:after {content:":"}

li.day_row .today_label {
  display:block;
  text-align:center;
  font-size: 1.2em;
  letter-spacing: 0.7em;
  padding-left:0.7em;
  padding-bottom: 0.3em;
}

.compass {
  font-size:0.9em;
  width:1.6em;
  line-height:1.6em;
  text-align:center;
  margin:0 3px 0 1.5em;
  border: 1px solid #0F0F0F;
  float:right;
}

li.today .compass {
  margin-right:0;/*to line up the compass elements*/
}

.class_cancelled  {
  display:block;
  font-style:italic;
  padding-left:1em;
  margin-right:1.5em;
  color:#CC0000;
}

.social_title { font-size:1.2em;}
.social_details { font-style: italic;}
.social_details:before { content:"- ";}

.social_highlight {
  background: url("../images/highlight_icon.png") no-repeat 0 0.15em;
  padding-left: 22px
}

.social_cancelled .cancelled_label, .new_label  {
  background-color:#CC0000;
  color:#FEE6B8;
  padding:0.1em 0.6em;
  margin-right:0.2em;
  position:relative;
  bottom:0.1em;
  text-transform:uppercase;
}

.social_cancelled .social_title {color:inherit;}


/* ABOUT PAGE */


.section_heading{
  margin-bottom:10px;
}

h1.section_heading {
  font-size:1.8em;
  margin-top:35px;
}
h2.section_heading {
  font-size:1.5em;
  margin-top:35px;
}

/*DIFFERENCE - changed margins*/
#about_swingoutlondon, #policy{
  margin:35px 30px;
}

/*DIFFERENCE - changed margins*/
.sidebar {
  padding:20px;
  margin:0 20px 30px 20px;
  border: 6px double #0F0F0F;
}

.sidebar p, .sidebar ul {
  font-family: Georgia, serif;
  font-style:italic;
}

/*style for first sidebar*/
#about_me, #about_lindy {margin-top:35px;}

/*DIFFERENCE - changed styling*/
#colophon {
  margin:35px 0px; 
  padding:20px;
  border: 6px double #0F0F0F;
  text-align:justify;
}
#colophon h2 {margin-top:0px;}
#colophon li {margin-bottom:0.8em;}
#colophon .textlist li {margin-bottom:inherit;}

#principles {
  list-style: outside decimal;
  margin-left:1.7em;
}
#principles h3{font-size:1.2em;}

#principles h3, #listings_policy h4 {margin-bottom:0.4em;}
#principles li, #listings_policy li {margin-bottom:1.2em;}

#listings_policy p {padding-left:2em;}

#about_lindy ul{margin:0 0 0.8em 1em;}
#about_lindy li{
  list-style:outside disc;
  margin:0 0 0.5em 1em;
}

a#validation_failures {
  text-decoration:inherit;
  color:inherit;
  border:inherit;
}

a#validation_failures:target{ 
  color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}