/* RESET  */
/* By Eric Meyer: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1; color: black; background: white;}
ol, ul {list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* END RESET */

body {
  font-family: Futura, "Tw Cen MT", "Trebuchet MS", sans-serif;
  color: #0F0F0F;
  background: transparent url('../images/flock_02_by_ZEBiii.jpg');
  font-size: 0.875em;/* = 14px */
}

@media only screen and (max-device-width: 480px){
body{
  -webkit-text-size-adjust:none;
  background:inherit;
}
}

#page{background: #FEE6B8 none; margin: auto; width: 900px;}
@media only screen and (max-device-width: 480px){
  #page{width:480px; margin:0;};
}
@media only screen and (max-device-width: 480px) and (orientation:landscape){
  #page{width:960px; margin:0;};
}
@media only screen and (max-device-width: 480px) and (orientation:portrait){
  #page{width:480px; margin:0;};
}

a {text-decoration: none; color: #384F6E;}
a:hover {border-bottom:solid 2px;}

p, li, address {
  line-height:1.5em;
}

p { text-align: justify; margin-bottom: 0.8em; }
p em { font-style: italic }

q:before, q:after { content:'"'; }

ul.textlist { list-style-type: disc; padding-left: 3em; }
  ul.textlist li { padding-left: 0.5em; }
ul.indent {list-style-type: square;}

.section_heading {
  text-transform: uppercase;
  text-align:center;
  line-height:1.5em;
}

h3 {
  font-size:1.2em;
}


/* HEADER */

#title { padding: 20px; }

.site_title {
  padding-top:50px;
  font-size:1.43em;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  text-transform:uppercase;
  text-align:center;
}

.site_title em {
  font-size:3.24em;
  letter-spacing: 0;
  display:block;
  margin-bottom:30px;
}

.site_title a {color:#0F0F0F;}
.site_title a:hover {border:none;}

#last_updated_ago {
  font-style:italic;
  text-align:center;
  margin-bottom:10px;
}

/* SITE DESCRIPTION */

#site_description {
  width:370px;
  margin:30px 0 0 60px;
  float:left;
  clear:both;
}

@media only screen and (max-device-width: 480px){
  #site_description {
    width:auto;
    margin:30px;
    padding-bottom:30px;
    border-bottom: 3px solid #0F0F0F;
    float:none;
    clear:none;
  }
}



#site_description a {
  text-transform:capitalize;
  font-size:1.2em;
}
#site_description a[href^='mailto:'] {
  color:#C00;
}

#social_media {
  width:370px;
  margin:30px 60px 0 470px;
}

@media only screen and (max-device-width: 480px){
  #social_media {
    width:inherit;
    margin:30px 30px 10px 30px;
  }
}


#social_media #like_message{
  margin-bottom:0.5em;
}

.twitter-share-button {
  position:relative;
  top:3px;
}

#latest_tweet{
  text-align:left;
  line-height:1.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-style:italic;
  font-size:0.9em;
  padding: 8px;
  border: 6px double #0F0F0F;
}

#latest_tweet a {
  color:#C00;
}
#latest_tweet a.tweet_created {
  font-size:0.8em;
  color:#384F6E;
}

#caveat {
  font-style:italic;
  clear:left;
  text-align:center;
  padding: 0.8em 10px 30px 0;
  margin:0 50px;
  border-bottom: 3px solid #0F0F0F;
}

#caveat strong {
  text-transform: uppercase;
  display:block;
  margin-bottom:0.4em;
  font-size:1.2em;
  color:#C00;
}



/*NAVIGATION*/

ul.navigation{list-style-type:none;letter-spacing:0.1em;line-height:3.5em;text-transform:uppercase;}
ul.navigation li{display:inline;margin:0 0.5em 0 0;padding:0 0 0 1em;white-space:nowrap;}

#main_nav,#admin_nav{}
#admin_nav{text-align:center;clear:both;padding:1em 0;}
#main_nav{text-align:center;clear:both;font-size:1.14em;margin:0 50px;padding-bottom:15px;border-bottom:3px solid #0F0F0F;}

@media only screen and (max-device-width: 480px){
  /* changed padding to force nav configuration */
  #main_nav{margin:0 30px;padding:0 30px 15px 30px;}

  /* 'about' link will be pushed onto next line so doesn't need a separator */
  ul.navigation li.about_link{border:none;}
}


ul.navigation a { color: #0F0F0F;}

#main_nav a, #admin_nav a { padding: 10px; } /*added here so we can take it away when we apply the border*/
#main_nav a:hover, #admin_nav a:hover {
  text-decoration:none;
  padding: 8px;
  border: 2px solid #0F0F0F;
}
.index #main_nav a.internal:hover {
 background: url("../images/downarrow.png") no-repeat 50% 95%;  
}

#main_nav .current, #admin_nav .current {
  padding: 8px;
  border: 6px double #0F0F0F;
  display:inline-block;
}

#footer_nav a:hover {
  border-bottom: 1px solid #0F0F0F;
}

#footer_nav .current {
  padding: 5px;
  border: 1px solid #0F0F0F;
}

#main_nav li, #admin_nav li { border-left:3px solid #0F0F0F;}
#footer_nav li { border-left:1px solid #0F0F0F;}

#main_nav li:first-child, #admin_nav li:first-child, #footer_nav li:first-child {
  border:none;
  padding-left:0;
}


/* FOOTER */

#footer {
  clear:both;
  font-size:0.91em;
  text-align:center;
}
    
#footer_nav {
  text-align:left;
  margin: 0 40px;
  padding:2em 0 0 20px;
  border-top: 3px solid #0F0F0F;
}

@media only screen and (max-device-width: 480px){
  #footer_nav { padding:2.5em 60px 0 60px; text-align:inherit; }
}


#valid_statement {
  float:right;
  margin-right:40px;
  padding:2em 20px 0 0;
  line-height: 3.5em;
  border-top: 3px solid #0F0F0F;
  height:0;
}

@media only screen and (max-device-width: 480px){
   #valid_statement { display:none; }
}

address, #last_updated{
  display:inline-block;
  padding: 15px 0 20px 0;
}


/* INDEX PAGE */

#classes {
  width:421px;
  float:left;
  position:relative;
  left:3px;
  margin-left: 27px;
} 
#socials {
  width:422px;
  margin-left:448px;
  margin-right:30px;
}

#classes h2, #socials h2 {
  font-size:1.6em;
  text-align:center;
  text-transform:none;
  margin-top:35px;
}
.index h2 em {
  text-transform:uppercase;
  font-size:1.83em;
  letter-spacing: 0.1em;
  display:block;
  margin-bottom:0.2em;
}

.index h2:target em{ 
  color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

@media only screen and (max-device-width: 480px){
  #classes, #socials {margin:0; padding: 0 20px; width:auto; float: none; position:static; left 0;}
  #socials h2{ margin:0 30px; padding-top:50px; border-top: 3px solid #0F0F0F; }
}



/* LISTINGS */
/************/
#classes .daylist{ font-size:1.1em; margin:1.2em 0 40px 0; padding-bottom:10px; border-right: 3px solid #0F0F0F;padding-right:22px; }
#socials .datelist{ font-size:1.1em; margin:1.2em 0 40px 0; padding-bottom:10px; border-left: 3px solid #0F0F0F; padding-left:22px; }
#classes h3 { font-size:1.1em; padding-left:3px; float:left; }
  #classes .today h3 {padding-left:0px;}
#socials h3 { font-size:1.2em; display:block; text-align:center; margin-bottom:0.5em; }
#classes li.day_row{ padding:0.7em 10px 0.4em 7px; }
#socials li.date_row { padding:0.7em 10px 0.4em 7px; margin-bottom:0.8em; }

@media only screen and (max-device-width: 480px){
  #classes .daylist{border:none; padding:0;}
  #socials .datelist{border:none; padding:0;}
}


#key {
  margin: 20px 30px;
  font-size:1.2em;
  font-style:italic;
}

li.day_row li { margin-left:6.5em; }


li.day_row li, li.date_row li { line-height:1.4em; margin-bottom:0.6em; padding-left:3px; /*to account for the border we apply when it's today*/}
li.today li {padding:0;}

li.day_row a {color: #0F0F0F; }
li.date_row a {color: #0F0F0F; }

.swingclass_info{ font-size:0.8em; font-style:italic; color:#666; line-height: 0;}
.social_info{ font-size:0.8em; font-style:italic; color:#666; line-height: 0;}

.swingclass_details{ display:block; margin-left:3.4em; }
.social_details{ display:block; margin-left:3.4em; }

.class_cancelled  {
  font-size:0.8em;
  display:block;
  font-style:italic;
  padding-left:1em;
  margin-right:1.5em;
  color:#CC0000;
}

.social_highlight {
  background: url("../images/highlight_icon.png") no-repeat 0 0.15em;
  padding-left: 20px
}

.cancelled_label, .new_label{
  padding:0.1em 0.6em;
  margin-right:0.2em;
  position:relative;
  bottom:0.1em;
  text-transform:uppercase;
  font-size:0.8em;
}

.cancelled_label{color:#FEE6B8; background-color:#CC0000; }
.new_label {color:#FEE6B8; background-color:#0F0F0F; }

.postcode {
    border: 1px solid #0F0F0F;
    display: block;
    float: left;
    width: 3.5em; /*N.B. Longest displaying postcode is NW1W. This won't fit in this space, but we don't have any postcodes in that area a.t.m.*/
    position:relative;
    bottom:0.1em;
    padding-left:0.3em;
    text-transform:uppercase;
    font-size:0.7em;
}

/* TODAY AND TOMORROW */
/**********************/
li.today { border: 3px dashed #0F0F0F;}
  #socials li.today  { margin-bottom:1.7em;}
  #classes li.today  { margin-bottom:0.9em;}

li.today:target { 
  border-color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.today_label, .tomorrow_label {text-transform: uppercase;}
  li.date_row .today_label, li.date_row .tomorrow_label {letter-spacing: 0.1em}
  li.day_row .today_label {
    display:block;
    text-align:center;
    font-size: 1.2em;
    letter-spacing: 0.7em;
    padding-left:0.7em;
    padding-bottom: 0.3em;
  }
    li.date_row .today_label:after, li.date_row .tomorrow_label:after {content:":"}

/* ABOUT PAGE */


.section_heading{
  margin-bottom:10px;
}

h1.section_heading {
  font-size:1.8em;
  margin-top:35px;
}
h2.section_heading {
  font-size:1.5em;
  margin-top:35px;
}

#about_swingoutlondon{ margin:35px 76px 35px 50px; }
#policy{ margin:35px 76px 35px 50px; }

.sidebar {
  padding:20px;
  margin:0 50px 30px 30px;
  border: 6px double #0F0F0F;
  width:247px;
  float:right;
  clear:right;
}

@media only screen and (max-device-width: 480px){
  #about_swingoutlondon{ margin:35px 30px; }
  #policy{ margin:35px 30px; }
  .sidebar { margin:0 20px 30px 20px; width:auto; float:none; clear:none; }
}


.sidebar p, .sidebar ul {
  font-family: Georgia, serif;
  font-style:italic;
}

/*style for first sidebar*/
#about_me, #about_lindy {margin-top:35px;}

#colophon {
  padding:20px;
  margin:35px 100px; 
  border: 6px double #0F0F0F;
  text-align:justify;
}
@media only screen and (max-device-width: 480px){
  #colophon { margin:35px 0px; }
}
  #colophon h2 {margin-top:0px;}
  #colophon li {margin-bottom:0.8em;}
  #colophon .textlist li {margin-bottom:inherit;}

#principles {
  list-style: outside decimal;
  margin-left:1.7em;
}
#principles h3{font-size:1.2em;}

#principles h3, #listings_policy h4 {margin-bottom:0.4em;}
#principles li, #listings_policy li {margin-bottom:1.2em;}

#listings_policy p {padding-left:2em;}

#about_lindy ul{margin:0 0 0.8em 1em;}
#about_lindy li{
  list-style:outside disc;
  margin:0 0 0.5em 1em;
}

a#validation_failures {
  text-decoration:inherit;
  color:inherit;
  border:inherit;
}

a#validation_failures:target{ 
  color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}


/* LINDY MAP */

#control_panel, .lindy_map header {
  width:260px;
  padding:20px; 
  float:left;
  clear:left;
}
body.lindy_map{background: #FEE6B8 none;} 
.lindy_map header {
/*  text-transform: uppercase;*/
  text-align:center;
  font-size:2em;
}

#map {
  width:100%;
  height:100%;
  position:absolute;
}


/* GOOGLE AD */
#googleAd{
  padding-top: 1.6em;
}
#googleAd div{
  width:254px;
  border: 6px double #0F0F0F;
  padding:10px;
  margin:auto;
}