$red: #c00;
$green: #3d9970;
$blue: #3D6399;
$darkblue: #384f6e;
$gray: #808080;
$greybrown: #666;
$text-colour: #0f0f0f;
$link-colour: $darkblue;
$highlight-colour: $red;
$lowlight-colour: $greybrown;
$background-colour: #fee6b8;
$background-light-colour: #fff8ea;
$banner-colour: #ebb68f;
$notice-colour: $green;
$alert-colour: $red;
$button-colour: $darkblue;
$button-active-colour: $greybrown;
$button-danger-colour: $red;
$button-danger-active-colour: #ff8080;
$button-secondary-colour: #d1dbe8;
$button-secondary-active-colour: #e9e9e9;
$facebook-blue: #3b5998;
$facebook-blue-highlight: #8b9dc3;
