@import "colours";

.button {
  display: block;
  padding: 15px 20px;
  margin: 6px 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  color: white;
  background-color: $button-colour;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s;

  &.facebook-button {
    color: white;
    background-color: $facebook-blue;
  }

  &.button-danger {
    background-color: $button-danger-colour;
  }

  &.button-secondary {
    color: $text-colour;
    background-color: $button-secondary-colour;
  }
}

.button-smaller {
  font-size: 14px;
  padding: 10px 15px;
}

.button:hover {
  color: $text-colour;
  background-color: $button-active-colour;
  border-bottom: none;

  &.facebook-button {
    color: black;
    background-color: $facebook-blue-highlight;
  }

  &.button-danger {
    background-color: $button-danger-active-colour;
  }

  &.button-secondary {
    background-color: $button-secondary-active-colour;
  }
}

@media only screen and (width >= 481px) {
  a.button {
    display: inline-block;
  }
}
