@font-face {
  font-family: FuturaRenner;
  font-weight: normal;
  font-style: normal;
  src:
    font-url("futura-renner/futurarenner-regular-webfont.woff") format("woff"),
    font-url("futura-renner/futurarenner-regular-webfont.woff2") format("woff2"),
    font-url("futura-renner/FuturaRenner-Regular.otf") format("opentype");
}
