<table id="classes_policy">
  <thead>
    <tr>
      <th>Yes</th>
      <th>No</th>
    </tr>
  </thead>
  <tbody>
    <tr class="first">
      <td>
        <ul class="unstyled">
          <li>
            <a href="http://en.wikipedia.org/wiki/Lindy_Hop">Lindy Hop</a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/Charleston_(dance)">Charleston</a>
          </li>
          <li>
            <a href="http://uptownswing.co.uk/authentic-jazz/">Authentic Jazz</a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/Balboa_(dance)">Balboa</a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/Blues_dance#Blues_dancing_in_the_contemporary_swing_dance_community">Blues</a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/Collegiate_shag">Collegiate Shag</a>
          </li>
        </ul>
      </td>
      <td>
        <ul class="unstyled">
          <li>Jive</li>
          <li>Rock and Roll</li>
          <li>Boogie Woogie</li>
          <li>West Coast Swing</li>
          <li>Modern Jive (Ceroc etc.)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Regular Weekly or Fortnightly classes</td>
      <td>One-off workshops</td>
    </tr>
    <tr>
      <td>A regularly repeating course (e.g. of 4-6 weeks)</td>
      <td>A Taster/Introductory class before a regular social</td>
    </tr>
  </tbody>
</table>
