<h2>Classes</h2>
<p>
  We'd love to be able to list the many one-off workshops happening in London,
  but keeping track of them is much more than we can handle.
</p>
<p>
  However, we do sometimes mention particularly interesting workshops on the
  <%= link_to "Facebook page", Rails.configuration.x.facebook.url, :title => "Swing Out London on Facebook" %>,
  especially those involving international teachers.
</p>
