<h2>Location</h2>
<p>
  Swing Out London only lists events on the core London transport network (i.e. places you can easily get a night bus home from!).
  Check out the <%= link_to "map", map_path %>: if its further out than the outlying events shown, its probably too far.
</p>
