<table class="full-width" id="music_policy">
  <thead>
    <tr>
      <th class="row_title"></th>
      <th>Yes</th>
      <th>Maybe</th>
      <th>No</th>
    </tr>
  </thead>
  <tbody>
    <tr class="first">
      <td class="row_title">In the style of an era</td>
      <td>20s, 30s, early 40s</td>
      <td>1900s/10s, Postwar</td>
      <td>50s, 60s and later</td>
    </tr>
    <tr>
      <td class="row_title">Big Bands</td>
      <td>Early Big band Swing</td>
      <td></td>
      <td>
        <ul class="unstyled">
          <li>Smooth Swing</li>
          <li>Lounge/Vegas style Jazz</li>
          <li>Rat Pack</li>
          <li>Latin Swing</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="row_title">From New Orleans</td>
      <td>
        <ul class="unstyled">
          <li>Trad/Hot Jazz</li>
          <li>Dixieland</li>
        </ul>
      </td>
      <td>New Orleans Brass</td>
      <td>Zydeco, Cajun</td>
    </tr>
    <tr>
      <td class="row_title">Piano-driven combos</td>
      <td>
        <ul class="unstyled">
          <li>Stride piano</li>
          <li>Jump Blues</li>
        </ul>
      </td>
      <td>
        <ul class="unstyled">
          <li>Ragtime</li>
          <li>Boogie Woogie</li>
          <li>Rhythm and Blues</li>
        </ul>
      </td>
      <td>Smooth Jazz</td>
    </tr>
    <tr>
      <td class="row_title">Guitar-driven combos</td>
      <td>Manouche (Gypsy Jazz)</td>
      <td>Western Swing</td>
      <td>
        <ul class="unstyled">
          <li>Jive/Rock and Roll</li>
          <li>Jump Jive</li>
          <li>Rockabilly</li>
          <li>Country/Honky Tonk</li>
          <li>Neo-Swing</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="row_title">Electronic</td>
      <td></td>
      <td></td>
      <td>Electro Swing</td>
    </tr>
  </tbody>
</table>
