<table id="socials_policy">
  <thead>
    <tr>
      <th>Yes</th>
      <th>No</th>
    </tr>
  </thead>
  <tbody>
    <tr class="first">
      <td>Social dances aimed at the dance styles listed above</td>
      <td></td>
    </tr>
    <tr>
      <td>Nightclubs and Vintage events where the majority of the music played is listed below</td>
      <td>Crossover nights: Swing alongside Soul, Funk, Ska etc.</td>
    </tr>
    <tr>
      <td>Swing gigs with room for at least 4 couples to dance</td>
      <td>Gigs where swing music comprises less than one hour of the music played (including DJ music)</td>
    </tr>
    <tr>
      <td>Festivals and Fetes with over an hour of social dancing</td>
      <td>Events where the dancing area is mostly grass or dirt</td>
    </tr>
    <tr>
      <td>Parties after workshops, camps or exchanges which are individually ticketed</td>
      <td>Parties after workshops, camps or exchanges which require a full pass or full weekend pass</td>
    </tr>
  </tbody>
</table>
