<nav id="admin_bar">
  <div class="navlink home"><%= link_to tc("site_name"), root_path %></div>

  <input type="checkbox" hidden id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="menu-toggle-btn navlink navlink-right">Menu</label>

  <ul class="menu-items">
    <% navlinks.each do |navlink| %>
      <li class="navlink"><%= link_to navlink.name, navlink.url %></li>
    <% end %>
  </ul>

  <div class="navlink account-link"><%= link_to current_user.name_with_role, account_path %></div>
</nav>
