<section data-controller="organiser-link">
  <h3 class='form-section-title'><label for="organiser_link_url">Organiser edit link<label></h3>
  <turbo-frame id="organiser_link">
    <% if event.organiser_token %>
      <div class="organiser-link-input">
        <input id="organiser_link_url" type="text" value="<%= edit_external_event_url(event.organiser_token) %>" data-organiser-link-target="source" readonly><!--
     --><a href="#" class="button-on-input" data-action="organiser-link#copy">Copy</a>
      </div>
    <% else %>
      <p>No organiser edit link exists for this event</p>
    <% end %>
    <p class='help'>This is a link you can share with an organiser to allow them to add dates and change details.</p>
    <% if event.organiser_token %>
      <p class='help'>
        You can
        <%= link_to_generate_organiser(
          'revoke this link', event, class: "normal-link", data: {
            action: "organiser-link#revoke",
          }
        )%>
        and generate a new one if you think the link isn't being used properly
      </p>
    <% else %>
      <%= link_to_generate_organiser('Generate link', event, class: class_names('button', 'button-smaller'), data: { action: "organiser-link#delayedCopy" }) %>
    <% end %>
  </turbo-frame>
</section>
