<%= date_row date %>
    <h3><%= date_header(date) %></h3>
    <ul class="unstyled">
    <% socials.each do |social| %>
        <% cancelled = cancelled_ids.include?(social.id) unless cancelled_ids.nil?%>
        <%= social_listing(social, cancelled, date) %>
    <% end %>
    
    <%if index==5%>
       <%= render partial: "website/advertising"%>
    <%end%>
    
    </ul>
</li>
