<h1 id="events">Events</h1>

<%= link_to 'New event', new_event_path, class: "button" %>

<table class="events">
  <thead>
    <tr>
      <th class="actions first"></th>
      <th class="name">Event Name</th>
      <th class="venue">Venue</th>
      <th class="area">Area</th>
      <th class="class_org">Class Organiser</th>
      <th class="soc_org">Social Organiser</th>
      <th class="fq">Fq.</th>
      <th class="dates">Dates</th>
      <th class="updated">Last updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'events/event_listing_table_row', collection: @events, as: :event %>
  </tbody>
</table>
