<h1>Editing venue</h1>

<%= render :partial => 'new_or_edit_fields', :locals => { :action => 'Update' }%>

<div class="actions">
	<%= link_to 'Show', @venue %> |
	<%= link_to 'Back', venues_path %> |
	<%= link_to 'Delete', @venue, :confirm => 'Are you sure you want to delete this venue?', :method => :delete %>
</div>