<h1>Editing venue</h1>

<%= render :partial => 'new_or_edit_fields', :locals => { :action => 'Update' }%>

<div class="actions">
  <%= link_to 'Show', @venue %> |
  <%= link_to 'Back', venues_path %> |
  <%= conditional_delete_tag(@venue) %>
</div>
