%h1 Out of date events:
%ul
  - @out_of_date_events.each do |event|
    %li= link_to event.title, edit_event_url(event)

%h1 Nearly out of date events:
%ul
  - @near_out_of_date_events.each do |event|
    %li= link_to event.title, edit_event_url(event)
