<body>
  <h1><%= t("organiser_mailer.reminder_email.title") %></h1>
  <p>
  <%= t("organiser_mailer.reminder_email.intro", event_name: @event_name) %>
  </p>
  <p>
  <%= t("organiser_mailer.reminder_email.link_text") %>
  <%= link_to @event_url, @event_url %>
  </p>
</body>
