@use "../shared/colours";
@use "borders";

// LAYOUT
/////////////////////////////////////////////

// SMALL
#last_updated_ago {
  margin-bottom: 20px;
}

#site_intro,
.donation,
#note {
  margin: auto;
}

.donation,
#note {
  max-width: 500px;
}

.donation {
  margin-bottom: 20px;
}

// DESKTOP
@media only screen and (width >= 900px) {
  #note {
    width: 370px;
    margin-left: 410px;
  }

  .donation {
    width: calc(370px - (2 * (15px + 6px)));
    margin-left: 410px;
  }

  #site_intro {
    width: 370px;
    float: left;
  }
}

// Header
/////////////////////////////////////////////
#last_updated_ago {
  font-style: italic;
  text-align: center;
}

#site_intro {
  p {
    font-size: 18px;
  }
}

#note {
  p {
    font-size: 15px;
  }
}

#note,
#site_intro {
  p {
    line-height: 1.5;
    margin-bottom: 18px;
  }

  a {
    font-size: 1.1em;

    &:not([href^="mailto"]) {
      text-transform: capitalize;
    }
  }
}

#site_intro,
#note {
  a {
    color: colours.$link-colour;
  }
}

.fb-like {
  &:hover {
    border: none;
  }
}

// DONATION
/////////////////////////////////////////////
.donation {
  padding: 10px 15px;
  background-color: #fff8ea;
  border: borders.$double-border;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 15px;
}

.donation p {
  font-style: italic;
  margin: 0;
  flex: 3;
}

.share_button {
  display: block;
  padding: 8px 20px;

  &:hover {
    border: none;
  }
}

.donate_button {
  background-color: colours.$highlight-colour;
  color: white;
}
