@use "borders";
@use "../shared/colours";

.map-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

#map {
  height: 100%;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.classes,
body.socials {
  a {
    color: inherit;
  }

  .venue_info {
    h3 {
      font-size: 1.2em;
    }

    .adr {
      font-style: italic;
      font-size: 0.9em;
      margin-top: 0.3em;

      p {
        margin-bottom: 0;
      }
    }
  }

  ul.listing_info {
    margin-top: 15px;

    li {
      /* padding to allow for the bottom border applied to the link it contains on hover */
      padding-bottom: 1px;
    }

    .social_date {
      display: block;
      float: left;
      width: 190px;
    }

    .event_details {
      display: block;
      margin-left: 190px;
      max-width: 400px;
    }

    .day {
      margin-right: 5px;
    }

    .new-label {
      color: white;
      background-color: colours.$text-colour;
      padding: 0.3em 0.6em;
      margin-right: 0.2em;
      position: relative;
      bottom: 0.1em;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }

  .nota_bene {
    margin: 15px 0 0;
    font-size: 0.9em;
    color: colours.$greybrown;
  }

  .page {
    background: colours.$background-colour none;
    width: 100%;
  }

  header {
    height: 130px;
    width: 100%;
    box-shadow: 0 9px 12px rgba(50, 50, 50, 0.75);
    font-size: 0.7em;

    h1 {
      text-transform: uppercase;
      font-size: 1.1em;
      text-align: center;
    }

    .primary-nav {
      text-align: center;

      // nuke the space which gets inserted in-between the elements for no good reason:
      font-size: 0;

      span {
        font-size: 20px;
      }

      a {
        font-size: 20px;
        margin: 0 5px;

        &.current {
          margin: 0 3px;
        }
      }
    }
  }

  .listings {
    font-size: 14px;

    li {
      text-align: center;
      border-bottom: solid 1px #bebebe;
      display: none;

      a {
        padding: 10px;
        display: block;

        &:hover {
          border: none;
          background-color: #e4e4e4;
        }
      }
    }

    .selected{
      color: colours.$background-colour;
      background-color: colours.$text-colour;

      &:hover {
        color: inherit;
        background-color: #e4e4e4;
      }
    }

    &.open {
      width: 100%;

      li {
        display: list-item;
      }
    }
  }

  // SMALL ONLY
  @media only screen and (width <= 767px) {
    .page {
      position: relative; // otherwise it doesn't show the block-shadow
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      border-right: solid 1px colours.$text-colour;

      h1 {
        padding: 10px;

        em {
          display: block;
        }
      }

      .primary-nav {
        display: flex;
        align-items: baseline;

        a {
          display: block;
          font-size: 16px;
          margin-bottom: 5px;
          padding: 5px;

          &:hover {
            padding: 3px;
          }

          &.current {
            padding: 3px;
          }
        }
      }

      .map-menu {
        display: flex;
        align-items: center;
      }
    }

    .currently-shown {
      border: none;
      border-left: 1px solid colours.$text-colour;
      padding: 5px 10px;
      margin-left: 7px;
      font-size: 12px;
      text-align: center;

      a {
        border: none;
      }
    }

    .note {
      display: none; // TODO: find a way to incorporate it
    }
  }

  // TABLET & SMALLER LAPTOPS
  @media only screen and (width >= 768px) {
    body {
      display: block
    }

    .page {
      width: 220px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 9px 9px 12px rgba(50, 50, 50, 0.75), inset 0 18px 20px -20px rgba(50, 50, 50, 0.75);
    }

    #map {
      margin-left: 220px;
    }

    header {
      font-size: 0.9em;
      padding: 20px 0;

      h1 {
        margin-bottom: 20px;

        em {
          display: block;
          font-size: 2em;
        }
      }

      .currently-shown {
        display: none;
      }
    }

    .listings {
      overflow: auto;

      li {
        display: list-item;
        box-shadow: 0 1px 0 #e4e4e4;
      }

      .note {
        padding: 30px 15px 20px;
        font-size: 14px;
      }
    }
  }
}
