@use "borders";
@use "../shared/colours";

$map-shadow: 0 9px 12px rgba(50, 50, 50, 0.75);

.map-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

#map {
  height: 100%;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.classes,
body.socials {
  a {
    color: inherit;
  }

  .venue_info {
    h3 {
      font-size: 1.2em;
    }

    .adr {
      font-style: italic;
      font-size: 0.9em;
      margin-top: 0.3em;

      p {
        margin-bottom: 0;
      }
    }
  }

  .page {
    background: colours.$background-colour none;
    width: 100%;
  }

  header {
    height: 130px;
    width: 100%;
    font-size: 0.7em;

    h1 {
      text-transform: uppercase;
      font-size: 1.1em;
      text-align: center;

      em {
        display: block;
      }
    }

    .primary-nav {
      text-align: center;

      // nuke the space which gets inserted in-between the elements for no good reason:
      font-size: 0;

      span {
        font-size: 20px;
      }

      a {
        font-size: 20px;
        margin: 0 5px;

        &.current {
          margin: 0 3px;
        }
      }
    }
  }

  .listings {
    font-size: 14px;
    overflow: auto;
    background: colours.$background-colour;

    li {
      text-align: center;
      border-bottom: solid 1px #bebebe;

      a {
        padding: 10px;
        display: block;

        &:hover {
          border: none;
          background-color: #e4e4e4;
        }
      }
    }

    .selected{
      color: colours.$background-colour;
      background-color: colours.$text-colour;

      &:hover {
        color: inherit;
        background-color: #e4e4e4;
      }
    }

    &.open {
      display: block;
    }
  }

  @media only screen and (width <= 767px) {
    .page {
      position: relative; // otherwise it doesn't show the block-shadow
      box-shadow: $map-shadow;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;

      h1 {
        padding: 10px;
      }

      .primary-nav {
        display: flex;
        align-items: baseline;

        a {
          display: block;
          font-size: 16px;
          margin-bottom: 5px;
          padding: 5px;

          &:hover {
            padding: 3px;
          }

          &.current {
            padding: 3px;
          }
        }
      }

      .map-menu {
        display: flex;
        align-items: center;
      }
    }

    .listings {
      display: none;
      max-height: 75vh; // without a height or max-height, the list doesn't scroll on mobile (landscape)
      position: absolute; // position: absolute makes the menu expand over the top of the map rather than pushing it down
      right: 0;
      width: 230px;
      border-top: borders.$thin-border;
      box-shadow: $map-shadow; // the page's shadow isn't shown because position:absolute removes this element from the flow
    }

    .currently-shown {
      border: none;
      border-left: 1px solid colours.$text-colour;
      padding: 5px 10px;
      margin-left: 7px;
      font-size: 12px;
      text-align: center;

      a {
        border: none;
      }
    }

    .note {
      background-color: colours.$background-light-colour;
      margin: 0;
      padding: 20px 30px;
    }
  }

  @media only screen and (width >= 768px) {
    .page {
      width: 220px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 9px 9px 12px rgba(50, 50, 50, 0.75);
    }

    #map {
      margin-left: 220px;
    }

    header {
      font-size: 0.9em;
      padding: 20px 0;
      box-shadow: $map-shadow;
      position: relative; // otherwise it doesn't show the block-shadow

      h1 {
        margin-bottom: 20px;

        em {
          font-size: 2em;
        }
      }

      .currently-shown {
        display: none;
      }
    }

    .listings {
      overflow: auto;
      display: block;

      .note {
        padding: 30px 15px 20px;
        font-size: 14px;
      }
    }
  }
}
