@import "borders";

.navigation {
  text-align: center;
  list-style-type: none;

  li {
    text-align: center;
    white-space: nowrap;
  }

  &.primary-nav {
    display: flex;
    justify-content: center;

    a {
      padding: 8px;

      &:hover {
        outline: $nav-border;
        border: none;
      }
    }

    .current {
      padding: 8px;
      outline: $double-border;
    }

    // We allow the current link to be a link on the map:
    a.current:hover {
      border: $thick-border;
    }
  }
}
