// SMALL
#admin_bar {
  background-color: #464646;
  color: #CCC;
  font-family: Helvetica, Arial, Sans-serif;
  li {
    clear: left;
    text-align: center;
    border-top: 1px solid #333;
  }
  .navlink {
    border-right: 1px solid #555;
    border-top: 1px solid #555;
    &:first-child{
      float: left;
      width: 160px;
    }
    &:last-child{
      margin-left: 160px;
    }
  }
  a {
    color: inherit;
    display: block;
    padding: 8px 15px;
    border-right: 1px solid #333;
    &:hover{
      background-color: #3A3A3A;
      border-bottom: 0;
    }
  }
}

// MOBILE ONLY
@media only screen and (max-width: 480px) {
}

// AVERAGE VIEWING SIZE
@media only screen and (min-width: 481px) {
  #admin_bar .navlink {
    &:first-child{
      width: 300px;
    }
    &:last-child{
      margin-left: 300px;
    }
  }
}

// TABLET & SMALLER LAPTOPS */
@media only screen and (min-width: 768px) {
  #admin_bar {
    z-index: 100;
    min-width: 800px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
    background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
    background-image: linear-gradient(bottom,#373737,#464646 5px);
    li {
      float: left;
      clear: none;
      text-align: left;
      border-bottom: 0;
    }
    .navlink {
      float: left;
      border-bottom: 0;
      &:first-child{
        width: auto;
      }
      &:last-child{
        margin-left: 0;
      }
    }
  }
}

// DESKTOP */
@media only screen and (min-width: 900px) {
}

// LARGE VIEWING SIZE
@media only screen and (min-width: 1240px) {
}