/*
 *= require shared/reset
 *= require shared/base
 *= require shared/buttons
 *= require cms/admin_bar
 *= require cms/forms
 *= require cms/csv_import
 *= require cms/outdated
 *= require cms/account
 *= require accessible-autocomplete/dist/accessible-autocomplete.min.css
 *= require cms/accessible-autocomplete-overrides
 *= require_self
 */
@import "shared/colours";

body {
  background-color: $background-colour;

  &.events,
  &.venues,
  &.organisers {
    margin-top: 39px;
  }
}

/* FONTS */

table {
  font-size: 0.857em;
}

input,
label,
textarea,
div.actions,
ol.show li,
form a {
  font-size: inherit;
  font-family: inherit;
}

/* INDEX */

h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;
}

p.actions_panel {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

// TABLE COLUMNS
/////////////////////////////////////////////

// DESKTOP
@media only screen and (max-width: 900px) {
  table {
    td.actions.last {
      display: none;
    }

    td.updated,
    th.updated {
      display: none;
    }
  }
}

// TABLET & SMALLER LAPTOPS
@media only screen and (max-width: 767px) {
  td.area,
  th.area {
    display: none;
  }
}

// SMALL
@media only screen and (max-width: 480px) {
  table {
    // Below doesn't work
    table-layout: fixed;
    width: 100%;

    td {
      word-break: word-wrap;
    }

    th.name {
      width: 100px;
    }

    th.venue {
      width: 120px;
    }

    th.class_org {
      width: 120px;
    }

    th.day {
      width: 30px;
    }

    td.fq,
    th.fq {
      display: none;
    }

    th.dates {
      width: 68px;
    }

    td.soc_org,
    th.soc_org {
      display: none;
    }
  }
}

table {
  border-collapse: collapse;
  margin: 20px 10px 50px;
}

table.events {
  .actions.first {
    width: 35px;
  }

  .actions.last {
    width: 5.5em;
  }
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

th { font-weight: bold; }

td.center { text-align: center; }

td.actions,
th.actions { border: none; }

td.dates,
td.updated {
  max-width: 80px;
}

/* TODO- replace with proper colours! */
tr.out_of_date td.dates,
tr.all_out_of_date td {
  background-color: #f00;
}

tr.near_out_of_date td.dates,
tr.all_nearly_out_of_date td {
  background-color: #ffa500;
}

tr.inactive td.dates {
  background-color: #999;
}

tr td.actions {
  background-color: transparent;
}

ol.show span {
  font-weight: bold;
  width: 135px;
  float: left;
  text-align: right;
  padding-right: 20px;
}

ol.show li { clear: left; }

ol.show li ul {
  display: inline-block;

  li {
    list-style-type: disc;
  }
}

.venues.show {
  section {
    margin: 20px 0 20px 155px;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    ul {
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

.last-updated {
  padding-top: 20px;
  font-style: italic;
  margin-left: 11em;
}

.flash {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 550px;

  &.success {
    background-color: $success-colour;
  }
}
