@use "sass:meta";
@use "shared/reset";
@use "shared/colours";
@use "shared/base";
@use "shared/buttons";
@use "shared/flash";
@use "cms/admin_bar";
@use "cms/forms";
@use "cms/account";
@use "cms/users";
@use "cms/audit_log";
@use "accessible-autocomplete/dist/accessible-autocomplete.min.css";
@use "cms/accessible-autocomplete-overrides";

body {
  background-color: colours.$background-colour;
}

main.page {
  margin: 20px 30px 35px;
}

/* FONTS */

table {
  font-size: 0.857em;
}

input,
label,
textarea,
div.actions,
ol.show li,
form a {
  font-size: inherit;
  font-family: inherit;
}

/* INDEX */

h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;
}

p.actions_panel {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

// TABLE COLUMNS
/////////////////////////////////////////////

// SMALLER THAN DESKTOP
@media only screen and (width <= 900px) {
  table {
    td.actions.last {
      display: none;
    }
  }
}

// TABLET & SMALLER LAPTOPS
// @media only screen and (max-width: 767px) {
// }

// SMALL
@media only screen and (width <= 480px) {
  table {
    width: 100%;
    min-width: 1200px;

    td {
      word-break: word-wrap;
    }

    td.actions {
      .button {
        margin: 0;
      }
    }

    td.name {
      max-width: 350px;
      min-width: 120px;
    }

    td.area {
      max-width: 140px;
    }

    td.class_org,
    td.soc_org {
      max-width: 120px;
    }
  }
}

.organisers.index .button,
.venues.index .button {
  margin: 0 10px;
}

.events.index {
  .button {
    margin: 0 5px 20px 15px;
  }

  label,
  .sieveInput {
    margin-left: 15px;
    font-size: 24px;
  }

  td.actions {
    vertical-align: middle;

    .button {
      margin: 0;
    }
  }
}

table {
  border-collapse: collapse;
  margin: 20px 10px 50px;
}

table.events {
  .actions.last {
    width: 5.5em;
  }
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

th { font-weight: bold; }

td.center { text-align: center; }

td.actions,
th.actions { border: none; }

td.dates,
td.updated {
  max-width: 74px;
}

.events {
  td.dates {
    background-color: #beed76;
  }

  tr.no_future_dates td.dates {
    background-color: #ffa500;
  }
}

.venues,
.organisers {
  tr.no_future_dates td.name {
    background-color: #c0c0c0;
  }
}

tr.inactive td.dates {
  background-color: #999;
}

tr td.actions {
  background-color: transparent;
}

ol.show span {
  font-weight: bold;
  width: 135px;
  float: left;
  text-align: right;
  padding-right: 20px;
}

ol.show li { clear: left; }

ol.show li ul {
  display: inline-block;

  li {
    list-style-type: disc;
  }
}

.venues.show {
  section {
    margin: 20px 0 20px 155px;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    ul {
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

.last-updated {
  padding-top: 20px;
  font-style: italic;
  margin-left: 11em;
}

.flash {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 550px;
}
