/*
*= require reset
*= require main
*= require_self
*/

/* FONTS */

table{
	font-size:0.857em;
}

input, label, textarea, div.actions, ol.show li, form a{
	font-size:inherit;
	font-family:inherit;
}

/* INDEX */
#page { width: 100%; }

h1{text-align:center;font-size:3em;padding-top:1em;margin-bottom:0.5em;}
h2 {text-align:center;font-size:3em;margin-bottom:0.5em;}
p.actions_panel{text-align:center;font-size:1.5em;text-transform:uppercase;}


table{border-collapse:collapse;margin:1.5em 1em 4em;}

/*TODO: Temp?*/
table.events td.first{width:3.5em;}
table.events td.last{width:5.5em;}

th, td {border:1px solid black; padding:5px;}
th {font-weight:bold;}
th.name, td.name {width:120px;}
td.center {text-align:center;}
td.actions, th.actions{ border:none; }

td.lines {white-space:pre;}

/*TODO- replace with proper colours!*/
tr.out_of_date td.dates, tr.all_out_of_date td{
	background-color:#F00;
}
tr.near_out_of_date td.dates, tr.all_nearly_out_of_date td{
	background-color:#FFA500;
}

tr.inactive td.dates{
	background-color:#999;
}

tr td.actions {
  background-color:transparent;
}

/* NEW / EDIT / SHOW*/

form li {
	margin-bottom: 0.5em;
}

input[type="text"] {
	width:30em;
}

label.inline_label{
  width: inherit;
  float:none;
  padding-left: 2em;
}
input.shortfield{
	width:inherit;
}
textarea {
	white-space:pre;
	width:30em;
	height:5em;
}

textarea.deep {
	height:10em
}

textarea.narrow {
	width:10em;
}

.warning-message {
  color: #B94A48;
  background-color: #F2DEDE;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  strong {
    font-size: 1.2em;
  }
}

label, ol.show span {
	font-weight:bold;
	width:9.5em;
	float:left;
	text-align:right;
	padding-right:1.5em
}

ol.show li { clear:left; }

input[type=submit], div.actions {
	margin-left:11em;
	line-height:1.5;
	clear:left;
}


/* RAILS ERRORS */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

