@import "colours";
$thin-border: 1px solid $text-colour;
$nav-border: 2px solid $text-colour;
$basic-border: 3px solid $text-colour;
$thick-border: 6px solid $text-colour;
$double-border: 6px double $text-colour;