$text-colour: #0f0f0f;
$link-colour: #384f6e;
$highlight-colour: #c00;
$lowlight-colour: #666;
$background-colour: #fee6b8;
$banner-colour: #ebb68f;

$alert-colour: #c00;

$button-colour: #384f6e;
$button-active-colour: #666;
$button-danger-colour: #c00;
$button-danger-active-colour: #ff8080;

$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$facebook-blue-highlight: #8b9dc3;
