@import "colours";

body.imports {
  padding: 10%;
  h3 {
    font-size: 18px;
  }
  em {
    color: $highlight_colour;
  }
  textarea{
    width: 100%;
    height: inherit;
  }

  input[type=submit] {
    color: $background-colour;
    font-size: 20px;
    background: $highlight_colour;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    &:hover {
      background: #db4c4c;
      text-decoration: none;
    }

    margin-left: 0;
  }

}
