@import "colours";
@import "borders";
$listing_font_size: 15px;
$class_day_font_size: 17px;
$social_date_font_size: 18px;
$listing_heading_font_size: 41px;
$listing_subheading_font_size: 22px;
$small_font_size: 12px;

// LAYOUT
/////////////////////////////////////////////

// SMALL
#social_media, #note {
  margin: auto;
  margin-top: 30px;
}
#classes, #socials {
  margin: 0 10px;
}

// MOBILE ONLY
@media only screen and (max-width: 480px) {
  #socials h2{
    padding-top: 50px;
    margin: 0 30px;
    border-top: $basic-border;
  }
}

// AVERAGE VIEWING SIZE
@media only screen and (min-width: 481px) {
  #classes, #socials {
    margin: 0 30px;
  }
}

// TABLET & SMALLER LAPTOPS */
@media only screen and (min-width: 768px) {
  #classes {
    width: 354px;
    float: left;
    position: relative;
    left: 3px;
    margin: 0 0 0 27px;
    .daylist {
      margin: 1.2em 0 40px 0;
      border-right: $basic-border;
      padding-right: 22px;
    }
  }
  #socials {
    margin: 0 30px 0 381px;
    .datelist{
      margin: 1.2em 0 0 0;
      border-left: $basic-border;
      padding-left: 22px;
    }
  }
}

// DESKTOP
@media only screen and (min-width: 900px) {
  #classes {
    width: 421px;
  }
  #socials {
    width: 422px;
    margin-left: 448px;
  }
  #social_media {
    width: 370px;
    margin-left: 410px;
    margin-top: 0;
  }
  #note {
    width: 370px;
    float: left;
    margin-top: 0;
  }
}

// LARGE VIEWING SIZE
@media only screen and (min-width: 1240px) {
}


// Header
/////////////////////////////////////////////
#listing_navigation {
  margin: 25px 0 35px;
  p {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 18px;
  }
  a {
    text-transform: capitalize;
    font-size: 27px;
  }
  small {
    color: #C00;
    font-size: 0.5em;
    font-style: italic;
    vertical-align: super;
  }
}
#listing_navigation, #social_media, #note, #latest_tweet {
  a {
    color: $link-colour;
  }
}

#social_media {
  max-width: 500px;
  text-align: right;

  .fb-like{
    width: 79px;
    position: relative;
    top: 4px;
    &:hover {
      border: none;
    }
  }
  .twitter-follow-button {
    position: relative;
    top: 4px;
    left: 1px;
  }
  .youtube_btn {
    img {
      position: relative;
      top: 4px;
    }
    &:hover {
      border: none;
    }
  }


  #latest_tweet{
    text-align: left;
    line-height: 1.5em;
    font-size: 0.9em;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 8px;
    border: 6px double $text-colour;
    margin-bottom: 3px;
    h4 {
      display: inline;
      font-weight: bold;
    }
    p {
      display: inline;
      font-style: italic;
    }
    a.tweet_created {
      font-size: 0.8em;
      color: $link-colour;
    }
  }
}
#note {
  max-width: 500px;
  p {
    font-size: 15px
  }
  //TODO: DRY up
  a {
    text-transform: capitalize;
    font-size: 20px;
  }
  #caveat {
    font-size: 0.9em;
    font-style: italic;
    strong {
      font-size: 1.2em;
      color: #C00;
    }
  }
}


// Main listing styles
/////////////////////////////////////////////

#classes {
  .daylist {
    font-size: $listing_font_size;
    padding-bottom: 10px;
  }
  h3 {
    font-size: $class_day_font_size;
    padding-left: 3px;
    float: left;
  }
  .today h3 {
    padding-left: 0px;
  }

  li.day_row {
    padding: 10px;
    li {
      margin-left: 100px;
      margin-bottom: 0.6em;
      padding-left: 3px;
      // (to account for the border we apply when it's today)
      line-height: 1.4em;
    }
  }
  .class_cancelled  {
    font-size: $small_font_size;
    display: block;
    font-style: italic;
    padding-left: 1em;
    margin-right: 1.5em;
    color: $highlight-colour;
  }
}

#socials {
  .datelist{
    font-size: $listing_font_size;
  }
  h3 {
    font-size: $social_date_font_size;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  li.date_row {
    padding: 10px 10px 7px 7px;
    margin-bottom: 13px;
    li {
      margin-bottom: 10px;
      padding-left: 3px;
      // (to account for the border we apply when it's today)
      line-height: 1.4em;
    }
  }
  .social_highlight {
    background: url(image_path("highlight_icon.png")) no-repeat 0 0.15em;
    padding-left: 20px
  }
  .note {
    margin: 10px 35px 30px;
    font-style: italic;
    font-size: 15px;
  }
  #key {
    margin: 20px 30px;
    font-size: 17px;
    font-style: italic;
  }
}


#classes h2, #socials h2 {
  font-size: $listing_subheading_font_size;
  text-align: center;
  text-transform: none;
  margin-top: 35px;
  line-height: 1;
  em {
    text-transform: uppercase;
    font-size: $listing_heading_font_size;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: 10px;
  }
}

// Common listing styles
/////////////////////////////////////////////
#classes, #socials {
  .info{
    font-size: $small_font_size;
    font-style: italic;
    color: $lowlight-colour;
    line-height: 0;
  }
  .details{
    display: block;
    margin-left: 3.4em;
  }
  .cancelled_label, .new_label{
    padding:0.3em 0.6em;
    margin-right:0.2em;
    position:relative;
    bottom:0.1em;
    text-transform:uppercase;
    font-size:0.8em;
  }
  .cancelled_label{
    color: #FEE6B8;
    background-color: $highlight-colour;
  }
  .new_label {
    color: #FEE6B8;
    background-color: $text-colour;
  }

  .postcode {
    border: 1px solid $text-colour;
    display: block;
    float: left;
    width: 3.5em;
    /*N.B. Longest displaying postcode is NW1W. This won't fit in this space, but we don't have any postcodes in that area a.t.m.*/
    position: relative;
    bottom: 0.1em;
    padding-left: 0.3em;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  a.postcode:hover {
    border: 1px solid #384F6E;
    background-color: #384F6E;
    color: #FEE6B8;
  }
}

// TODAY AND TOMORROW
/////////////////////////////////////////////
li.today {
  border: 3px dashed $text-colour;
  li {
    padding: 0;
  }
  &:target {
    border-color: #C00;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
}
#socials li.today  { margin-bottom: 1.7em;}
#classes li.today  { margin-bottom: 0.9em;}

.today_label, .tomorrow_label {text-transform: uppercase;}
li.day_row .today_label {
  display: block;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.7em;
  padding-left: 0.7em;
  padding-bottom: 0.3em;
}
li.date_row {
  .today_label, .tomorrow_label { letter-spacing: 0.1em; }
  .today_label:after, .tomorrow_label:after { content:":"; }
}


// ADVERTS
/////////////////////////////////////////////

@media only screen and (max-width: 480px) {
  .rectangular_ad {
    img, .placeholder a {
      width: 95%;
    }
  }
}

.ad_units {
  padding-top: 1em;
  a:hover {
    border: 0;
  }
  img{
    border: 6px double $text-colour;
  }
  a.advertising_contact {
    font-size: $small_font_size;
    font-style: italic;
    color: $lowlight-colour;
  }
  .placeholder {
    display: inline-block;
    a {
      border: 6px double $text-colour;
      width: 368px;
      height: 125px;

      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.rectangular_ad {
  .placeholder {
    display: inline-block;
    a {
      width: 368px;
      height: 80px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.square_ads {
  img{
    margin: 12px;
  }
  .placeholder {
    margin: 12px;
    a {
      border: 6px double $text-colour;
      width: 150px;
      height: 150px;
    }
  }
}

#googleAd div{
  width: 254px;
  border: 6px double $text-colour;
  padding: 10px;
  margin: auto;
}

// DONATION
/////////////////////////////////////////////
.donation {
  padding: 0;
  background-color: #fff8ea;
  border: 6px double $text-colour;
  width: 368px;
  margin-top: 2.5em;
  p {
    margin: 10px;
  }
  form {
    float: left;
    .donate_button {
      background-color: #EF4836;
      color: white;
      border: solid;
      border-width: 0;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.share_button {
  display: inline-block;
  margin: 0 0 10px 10px;
  padding: 8px 20px;
  &:hover {
    border: none;
  }
}
.facebook {
  background-color: $facebook-blue;
  color: white;
}
.twitter {
  background-color: $twitter-blue;
  color: white;
}

@media only screen and (max-width: 480px) {
  .donation {
    width: 95%;
  }
}