.ad_units {
  padding-top: 1.6em;
}

.square_ads {
  a:hover {
    border: 0;
  }
  img{
    border: 6px double #0F0F0F;
    margin: 12px;
  }
  .placeholder {
    display: inline-block;
    margin: 12px;
    a {
      border: 6px double #0F0F0F;
      width: 150px;
      height: 150px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

#googleAd div{
  width: 254px;
  border: 6px double #0F0F0F;
  padding: 10px;
  margin: auto;
}


.postcode {
  border: 1px solid #0F0F0F;
  display: block;
  float: left;
  width: 3.5em;
  /*N.B. Longest displaying postcode is NW1W. This won't fit in this space, but we don't have any postcodes in that area a.t.m.*/
  position: relative;
  bottom: 0.1em;
  padding-left: 0.3em;
  text-transform: uppercase;
  font-size: 0.7em;
}
a.postcode:hover {
  border: 1px solid #384F6E;
  background-color: #384F6E;
  color: #FEE6B8;
}

#socials .note {
  margin: 10px 35px 30px;
  font-style: italic;
  font-size: 1.1em;
}
