@import "colours";

// SMALL
.login {
  margin: 20px 30px 35px;

  h2 {
    font-size: 30px;
  }

  .alert,
  .notice {
    padding: 20px;
    margin-bottom: 15px;
  }

  .alert {
    background-color: $alert-colour;
    color: white;
  }

  .notice {
    background-color: $notice-colour;
    color: white;
  }

  // AVERAGE VIEWING SIZE
  @media only screen and (min-width: 481px) {
    margin-left: 70px;
    margin-right: 70px;
  }
}
