@import "colours";
@import "borders";

// LAYOUT
/////////////////////////////////////////////

// SMALL
.login {
  margin: 20px 30px 35px;

  h2 {
    font-size: 30px;
  }

  a.button {
    display: inline-block;
    padding: 15px 20px;
    background-color: $facebook-blue;
    margin: 6px 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s;
  }

  a.button:hover {
    color: #000;
    background-color: $facebook-blue-highlight;
    border-bottom: none;
  }

  // AVERAGE VIEWING SIZE
  @media only screen and (min-width: 481px) {
    margin-left: 70px;
    margin-right: 70px;

    a.button {
      display: inline-block;
    }
  }
}
