$body_font_size: 14px;
$title_font_size: 40px;
$subtitle_font_size: 16px;

body {
  font-family: Futura, "Tw Cen MT", "Trebuchet MS", sans-serif;
  color: #0F0F0F;
  font-size: $body_font_size;
  #page{
    background: #FEE6B8 none;
    margin: auto;
  }
}

//REMEMBER - only apply link colours where needed

.site_title {
  font-size: $subtitle_font_size;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  em {
    font-size: $title_font_size;
    letter-spacing: 0;
    display: block;
  }
}