body {
  font-family: Futura, "Tw Cen MT", "Trebuchet MS", sans-serif;
  color: #0F0F0F;
  background: transparent url(image_path("flock_02_by_ZEBiii.jpg"));
  font-size: 0.875em;/* = 14px */
}

@media only screen and (max-device-width: 480px){
body{
  -webkit-text-size-adjust:none;
  background:inherit;
}
}

#page{background: #FEE6B8 none; margin: auto; width: 900px;}
@media only screen and (max-device-width: 480px){
  #page{width:480px; margin:0;};
}

#admin_bar {
  z-index: 100;
  min-width: 800px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #464646;
  color: #CCC;
  font-family: Helvetica, Arial, Sans-serif;
  background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
  background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
  background-image: linear-gradient(bottom,#373737,#464646 5px);
  li {
    float: left;
    border-right: 1px solid #555;
  }
  a {
    color: inherit;
    display: block;
    padding: 8px 15px;
    border-right: 1px solid #333;
    &:hover{
      border-bottom: 0;
      background-color: #3A3A3A;
    }
  }
}

.banner {
  padding: 10px 40px;
  background: #EBB68F;
  text-align: center;
  top:0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
@media only screen and (max-device-width: 480px){
  .banner{position: static; padding: 10px; margin:0;};
}
.banner h3 {
  padding-bottom:10px;
}
.banner p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

a {text-decoration: none; color: #384F6E;}
a:hover {border-bottom:solid 2px;}

p, li, address {
  line-height:1.5em;
}

p { text-align: justify; margin-bottom: 0.8em; }
p em { font-style: italic }

q:before, q:after { content:'"'; }

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.indent {list-style-type: square;}

h3 {
  font-size:1.2em;
}


/* HEADER */

#header {
  border-bottom: 3px solid #0F0F0F;
  margin: 0 60px;
}

body.website.index #header {
  padding-bottom: 30px;
}

#title { padding: 20px; }

.site_title {
  padding-top:50px;
  font-size:1.43em;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  text-transform:uppercase;
  text-align:center;
}

.site_title em {
  font-size:3.24em;
  letter-spacing: 0;
  display:block;
  margin-bottom:30px;
}

.site_title a {color:#0F0F0F;}
.site_title a:hover {border:none;}

#last_updated_ago {
  font-style:italic;
  text-align:center;
  margin-bottom:10px;
}

/* LISTING NAVIGATION */

#listing_navigation {
  margin: 25px 0 35px;
  p {
    font-size: 1.4em;
    line-height: 1.7em;
    margin-bottom: 0.9em;
  }
  a {
    text-transform:capitalize;
    font-size: 1.4em;
  }
}

#note {
  width: 370px;
  float: left;
  p {
    font-size: 1.1em
  }
  //TODO: DRY up
  a {
    text-transform: capitalize;
    font-size: 1.3em;
  }
  #caveat {
    font-size: 0.9em;
    font-style: italic;
    strong {
      font-size: 1.2em;
      color: #C00;
    }
  }
}

#social_media {
  width: 370px;
  margin: 0 0 0 410px;
  text-align: right;
  .twitter-follow-button {
    position: relative;
    top: 4px;
  }
  .fb-like{
    &:hover {
      border: none;
    }
  }
}

@media only screen and (max-device-width: 480px){
  #note {
    width:auto;
    margin:30px;
    padding-bottom:30px;
    border-bottom: 3px solid #0F0F0F;
    float:none;
    clear:none;
  }
  #social_media {
    width:inherit;
    margin:30px 30px 10px 30px;
  }
}


#latest_tweet{
  text-align:left;
  line-height:1.5em;
  font-size:0.9em;
  //font-family: Helvetica, Arial, sans-serif;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 8px;
  border: 6px double #0F0F0F;
  margin-bottom: 3px;
  h4 {
    display: inline;
    font-weight: bold;
  }
  p {
    display: inline;
    font-style: italic;
  }
}

#latest_tweet a.tweet_created {
  font-size:0.8em;
  color:#384F6E;
}



/*NAVIGATION*/

ul.navigation{list-style-type:none;letter-spacing:0.1em;line-height:3.5em;text-transform:uppercase;}
ul.navigation li{display:inline;margin:0 0.5em 0 0;padding:0 0 0 1em;white-space:nowrap;}

#admin_nav{text-align:center;clear:both;padding:1em 0;}
#main_nav{text-align:center;clear:both;font-size:1.14em;padding-bottom:15px;}

@media only screen and (max-device-width: 480px){
  /* changed padding to force nav configuration */
  #main_nav{margin:0 30px;padding:0 30px 15px 30px;}

  /* 'about' link will be pushed onto next line so doesn't need a separator */
  ul.navigation li.about_link{border:none;}
}


ul.navigation a { color: #0F0F0F;}

.navigation.primary-nav {
  a { 
    padding: 10px; /*added here so we can take it away when we apply the border*/
    &:hover { 
      text-decoration:none;
      padding: 8px;
      border: 2px solid #0F0F0F;
    }   
  }
  a.internal:hover {
   background: url(image_path("downarrow.png")) no-repeat 50% 95%;  
  }
  .current {
    padding: 8px;
    border: 6px double #0F0F0F;
    display:inline-block;
  }
  // We allow the current link to be a link on the map:
  a.current:hover {
    border: 6px solid #0F0F0F;
  }
  
}

#footer_nav {
  a:hover {
    border-bottom: 1px solid #0F0F0F;
  }
  .current {
    padding: 5px;
    border: 1px solid #0F0F0F;
  }
}


#main_nav li, #admin_nav li { border-left:3px solid #0F0F0F;}
#footer_nav li { border-left:1px solid #0F0F0F;}

#main_nav li:first-child, #admin_nav li:first-child, #footer_nav li:first-child {
  border:none;
  padding-left:0;
}


/* FOOTER */

#footer {
  clear:both;
  font-size:0.91em;
  text-align:center;
}
    
#footer_nav {
  text-align:left;
  margin: 0 40px;
  padding:2em 0 0 20px;
  border-top: 3px solid #0F0F0F;
}

@media only screen and (max-device-width: 480px){
  #footer_nav { padding:2.5em 60px 0 60px; text-align:inherit; }
}


#valid_statement {
  float:right;
  margin-right:40px;
  padding:2em 20px 0 0;
  line-height: 3.5em;
  border-top: 3px solid #0F0F0F;
  height:0;
}

@media only screen and (max-device-width: 480px){
   #valid_statement { display:none; }
}

address, #last_updated{
  display:inline-block;
  padding: 15px 0 20px 0;
}


/* INDEX PAGE */

#classes {
  width:421px;
  float:left;
  position:relative;
  left:3px;
  margin-left: 27px;
} 
#socials {
  width:422px;
  margin-left:448px;
  margin-right:30px;
}

#classes h2, #socials h2 {
  font-size:1.6em;
  text-align:center;
  text-transform:none;
  margin-top:35px;
}
.index h2 em {
  text-transform:uppercase;
  font-size:1.83em;
  letter-spacing: 0.1em;
  display:block;
  margin-bottom:0.2em;
}

.index h2:target em{ 
  color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

@media only screen and (max-device-width: 480px){
  #classes, #socials {margin:0; padding: 0 20px; width:auto; float: none; position:static; left: 0;}
  #socials h2{ margin:0 30px; padding-top:50px; border-top: 3px solid #0F0F0F; }
}



/* LISTINGS */
/************/
#classes .daylist{ font-size:1.1em; margin:1.2em 0 40px 0; padding-bottom:10px; border-right: 3px solid #0F0F0F;padding-right:22px; }
#socials .datelist{ font-size:1.1em; margin:1.2em 0 0 0; padding-bottom:10px; border-left: 3px solid #0F0F0F; padding-left:22px; }
#classes h3 { font-size:1.1em; padding-left:3px; float:left; }
  #classes .today h3 {padding-left:0px;}
#socials h3 { font-size:1.2em; display:block; text-align:center; margin-bottom:0.5em; }
#classes li.day_row{ padding:0.7em 10px 0.4em 7px; }
#socials li.date_row { padding:0.7em 10px 0.4em 7px; margin-bottom:0.8em; }

@media only screen and (max-device-width: 480px){
  #classes .daylist{border:none; padding:0;}
  #socials .datelist{border:none; padding:0;}
}


#key {
  margin: 20px 30px;
  font-size:1.2em;
  font-style:italic;
}

li.day_row li { margin-left:6.5em; }


li.day_row li, li.date_row li { line-height:1.4em; margin-bottom:0.6em; padding-left:3px; /*to account for the border we apply when it's today*/}
li.today li {padding:0;}

li.day_row a {color: #0F0F0F; }
li.date_row a {color: #0F0F0F; }

.swingclass_info{ font-size:0.8em; font-style:italic; color:#666; line-height: 0;}
.social_info{ font-size:0.8em; font-style:italic; color:#666; line-height: 0;}

.swingclass_details{ display:block; margin-left:3.4em; }
.social_details{ display:block; margin-left:3.4em; }

.class_cancelled  {
  font-size:0.8em;
  display:block;
  font-style:italic;
  padding-left:1em;
  margin-right:1.5em;
  color:#CC0000;
}

.social_highlight {
  background: url(image_path("highlight_icon.png")) no-repeat 0 0.15em;
  padding-left: 20px
}

.cancelled_label, .new_label{
  padding:0.3em 0.6em;
  margin-right:0.2em;
  position:relative;
  bottom:0.1em;
  text-transform:uppercase;
  font-size:0.8em;
}

.cancelled_label{color:#FEE6B8; background-color:#CC0000; }
.new_label {color:#FEE6B8; background-color:#0F0F0F; }


/* TODAY AND TOMORROW */
/**********************/
li.today { border: 3px dashed #0F0F0F;}
  #socials li.today  { margin-bottom:1.7em;}
  #classes li.today  { margin-bottom:0.9em;}

li.today:target { 
  border-color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.today_label, .tomorrow_label {text-transform: uppercase;}
  li.date_row .today_label, li.date_row .tomorrow_label {letter-spacing: 0.1em}
  li.day_row .today_label {
    display:block;
    text-align:center;
    font-size: 1.2em;
    letter-spacing: 0.7em;
    padding-left:0.7em;
    padding-bottom: 0.3em;
  }
    li.date_row .today_label:after, li.date_row .tomorrow_label:after {content:":"}

/* ABOUT PAGE */
.content { 
  width: 470px;
  margin: 0 0 35px 50px;
  float: left;
}

.sidebar {
  padding: 20px;
  margin: 0 50px 30px 30px;
  border: 6px double #0F0F0F;
  width: 247px;
  float: right;
  clear: right;
  &.first{ 
    margin-top: 35px;
  }
  h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
  }
  p, ul {
    font-family: Georgia, serif;
    font-style:italic;
  }
  ul {
    list-style-type: disc;
    padding-left: 2em;
    li {
      margin-bottom: 1.2em;
    }
  }
}

@media only screen and (max-device-width: 480px){
  #about_swingoutlondon{ margin:35px 30px; }
  .content{ margin:35px 30px; }
  .sidebar { margin:0 20px 30px 20px; width:auto; float:none; clear:none; }
}

.content {
  h1, h2 {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
    margin: 35px 0 10px;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  em {
    font-style: italic;
  }
  ul {
    list-style: disc;
    padding-left: 2em;
  }
  ol {
    list-style: outside decimal;
    margin-left: 1.7em;
  }
  ol, ul {
    h3, h4 {
      margin-bottom: 0.4em;
    }
  }
  table {
    margin-left: 20px;
    margin-right: 20px;
  }
}

table {
  padding-bottom: 35px;
  th, td {
    padding: 10px 15px 0;
    line-height: 1.5em;
    &.row_title {
      font-size: 1.1em;
      border-right: solid 1px #0F0F0F;
    }
  }
  tr.first td {
    padding-top: 20px;
  }

  th {
    padding: 10px 15px 18px;
    font-size: 1.3em;
    text-align: center;
    border-bottom: solid 1px #0F0F0F;
  }
  &.full-width {
    clear: both;
    padding: 0 50px 35px;
  }
  &#music_policy {
    th, td {
      width: 180px;
      vertical-align: middle;
      &.row_title {
        width: 150px;
      }
    }
  }
  &#classes_policy, &#socials_policy{
    th, td {
      width: 50%;
    }
  }
}

#colophon {
  clear: both;
  padding: 20px;
  margin: 35px 130px; 
  border: 6px double #0F0F0F;
  text-align: justify;
  h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
  }
  li {
    margin-bottom: 0.8em;
  }
  ul ul { 
    list-style-type: disc;
    padding-left: 3em;
    li { 
      padding-left: 0.5em;
      margin-bottom: inherit; 
    }
  }
}
@media only screen and (max-device-width: 480px){
  #colophon { margin:35px 0px; }
}

#listings_policy p {padding-left:2em;}

#about_lindy ul{margin:0 0 0.8em 1em;}
#about_lindy li{
  list-style:outside disc;
  margin:0 0 0.5em 1em;
}

a#validation_failures {
  text-decoration:inherit;
  color:inherit;
  border:inherit;
}

a#validation_failures:target{ 
  color: #C00;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}