// MOBILE SPECIFIC:
body {
  margin-bottom: 48px;
}
.secondary-nav {
  position: fixed; 
  bottom: 0;
  display: block;
  height: 48px;
  width: 100%;
  background-color: #0f0f0f;
  
  li {
    position: relative;
    display: block;
    width: 25%;
    float: left;
    //height: 48px !important;
    //&.active {
    //    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi/v//fyxAgAEACWgDXjXePfkAAAAASUVORK5CYII=);
    //    background:rgba(255, 255, 255, 0.1);
    //    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#45FFFFFF, endColorstr=#45FFFFFF);   
    //    a{
    //        color:#fff; 
    //        text-shadow: #fff 0px 0px 2px;
    //    }
    //}
    i {
      position: absolute;
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(image_path("icons.png"));
      background-repeat: no-repeat;
      &.ii-calendar {background-position:50% -3936px;}
      &.ii-compass  {background-position:50% -3360px;}
      &.ii-chat     {background-position:50% -336px;}
      &.ii-book     {background-position:50% -4560px;}
      width: 100% !important;
      top: -6px;
      //left:0;
    }
    a, span{
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      display: block;
      width: 100%;
      color: #ccc;  
      font-size: 10px;
      text-align: center;
      height: 48px;
      line-height: 76px;
    }
  }
}