@import "borders";

.navigation {
  text-align: center;
  list-style-type: none;
  li{
    text-align: center;
    white-space: nowrap;
  }
  &.primary-nav {
    a {
      padding: 10px;
      //added here so we can take it away when we apply the border
      &:hover {
        padding: 8px;
        border: $nav-border;
      } 
      &.internal:hover {
       background: url(image_path("downarrow.png")) no-repeat 50% 95%;
      }
    }
    .current {
      padding: 8px;
      border: $double-border;
    }
    // We allow the current link to be a link on the map:
    a.current:hover {
      border: $thick-border;
    }
  }
}