<% content_tag :ul, :id => nav_id, :class => 'navigation' do %>
	<li class="first"><%= nav_link 'Events', events_path %></li>
	<li><%= nav_link 'Swing Schools / Promoters', organisers_path %></li>
	<li><%= nav_link 'Venues', venues_path %></li>
<% end %>