- if @ad_type == :rectangular_ad
  %li.ad_units.rectangular_ad
    = render partial: "ad_unit", locals: { ad_hash: @ad }
- elsif @ad_type == :square_ads
  %li.ad_units.square_ads
    = render partial: "ad_unit", locals: { ad_hash: @left_ad }
    = render partial: "ad_unit", locals: { ad_hash: @right_ad }
-else
  = render partial: "google_ad"

