#about_swingoutlondon.content
  = render partial: "about_swingoutlondon"

#about_me.sidebar
  = render partial: "about_me"

#show_love.sidebar
  = render partial: "show_love"
  
#colophon
  = render partial: "colophon"








