<div id="mission_statement">
	<h2> Mission statement</h2>

	<p>
		This website is born out of my own frustration at trying to find details of Lindy Hop events in London. While there are a <a href="http://www.swingjunction.co.uk/modules/piCal/index.php?cid=1" title="Swing Junction-Calendar">couple</a> of <a href="http://www.swingdancersoflondon.org/" title="Swing Dancers of London">listings</a> sites around they don't provide the information I need in the way I want it, so I decided to make my own (as you do).
	</p>
	<p>
		There are so many awesome social nights and lessons on every night of the week all over the capital, but often people don't know what's going on just round the corner from where they live. My goal then is simple: 
		<em>To provide clear and simple listings of Lindy Hop events in London.</em>
	</p>

	<p>
		I've been obsessively tracking down details of all the events going on and I'll do my best to keep it up-to-date. While I have my preferences of lessons and social nights, I don't have any sort of business relationship with any particular group and will do my best to remain impartial in all my dealings.
	</p>
	<p>
		This site is very much a work in progress - currently it shows weekly classes, and clubs/socials for the next 14 days. See <a href="#development">Development</a> below for details.
	</p>
</div>


<div id="scope">
	<h2>What we cover</h2>
	<p>
		At least to start with the listings will focus on regular weekly classes teaching primarily Lindy Hop, and weekly and monthly clubs and social dances where Lindy Hop can be danced. Blues, Balboa, Collegiate Shag and 20s Charleston will also be considered, but nights which are primarily 50's Jive or Rock and Roll are out.
	</p>
	<p>
		Listings are primarily for events within the M25 and usually those which are on the London transport network (i.e. places you can get a night bus home from!). 
	</p>
</div>



<div id="about_me">
	<h2>About me</h2>
	<p>I live in South London, I've been dancing lindy for a few months now, and I love it.</p>
	<p><a href="http://twitter.com/lindyhoplondon/" title="Swing Out London on Twitter">Swing Out London is on twitter</a> and I'll tweet information about the site there, but more useful is the <a href="http://twitter.com/lindyhoplondon/lindyhoplondon" title="Swing Out London list on Twitter">twitter list of people tweeting about lindy</a>.</p>
	<p>Please send any comments, corrections or listings to <a href="mailto:leveretweb@googlemail.com?subject=Swing Out London">leveretweb@googlemail.com</a>.</p>
</div>

<div id="about_lindy">
	<h2>What is the Lindy Hop?</h2>
	<p><a href="http://en.wikipedia.org/wiki/Lindy_Hop" title="Wikipedia - Lindy Hop">The Lindy Hop</a> or <q>Jitterbug</q> is a fun and dynamic swing dance of the 1930's and 40's, mainly danced to Big Band Swing and Hot Jazz.</p>
	<p>
		Here are some YouTube clips of Lindy Hop from 
		<a href="http://www.youtube.com/watch?v=mTg5V2oA_hY" title="YouTube - Lindy Hop - Hellzapoppin (1941)"> 
			a classic film</a>, 
		<a href="http://www.youtube.com/watch?v=LAAAV7BB1HU" title="YouTube - Lindy Hop Showdown">
			a modern competition</a>, and 
		<a href="http://www.youtube.com/watch?v=XlKCJZt2yzE" title="YouTube - Swing Patrol London - Greenwich Class - 3/06/09">
			a beginners class in London</a>.
	</p>
	
</div>


<div id="colophon">
	<h2>Colophon</h2>

	<ul>
		<li>The styling of the site was inspired by vintage playbills, magazine listings and event posters.</li>
		<li>The vintage wallpaper in the background is by <a href="http://zebiii.deviantart.com/" title="ZeBii on DeviantArt">ZeBii on DeviantArt</a>. You can get it <a href="http://zebiii.deviantart.com/art/Patterns-2-94330934" title="Patterns.2 by ZeBii on DeviantArt">here</a>.</li>
		<li>This site was written on a Mac, mainly using <a href="http://www.firefox.com" title="Firefox web browser">Firefox</a> with the following plugins:	

			<ul class="textlist">
				<li><a href="http://getfirebug.com/" title="Firebug">Firebug</a> with <a href="http://tools.sitepoint.com/codeburner/" title="CodeBurner - Reference Tool for Web Developers">Code Burner</a>;</li>
				<li>The <a href="http://chrispederick.com/work/web-developer/" title="Web Developer">Web Developer</a> toolbar;</li>
				<li>
					<a href="http://www.colorzilla.com/firefox/" title="ColorZilla for Firefox - Eyedropper, Color Picker and much more">ColorZilla</a> and <a href="http://www.kevinfreitas.net/extensions/measureit/" title="MeasureIt - Firefox ruler extension for web developers">MeasureIt</a>.</li>
			</ul>
			
		</li>
		<li>The site sits on a custom-built <a href="http://rubyonrails.org/" title="Ruby on Rails">Ruby on Rails</a> CMS, which I wrote from scratch. I plan to make this available as open source, once I've figured out how to do that...</li>
		<li>The site is currently hosted on <a href="http://www.patrickinternet.co.uk/" title="Patrick Internet">Patrick Internet.</a></li>
	</ul>
</div>

<div id="development">
	<h2>Development</h2>
	<p>
		I'm not a professional web designer and I'm not making any money from this, so I'm piecing this site together bit by bit in my spare time. How much it gets developed depends largely on whether anyone uses it. Features I'm thinking of adding include:
	</p>
	<ul class="textlist">
		<li>A links page</li>
		<li>A more detailed listing of Classes and Socials</li>
		<li>Displaying events optionally either alphabetically or by date</li>
		<li>Venue details and listing by venue</li>
		<li>Googlemaps on each event and venue page</li>
		<li>Swing School and promoter details and listings by these.</li>
		<li>A consolodated Google map showing all locations.</li>
		<li>Attempting to add Workshop details as well (though that could be very time consuming)</li>
		<li>Details of weekenders, exchanges and balls outside of London.</li>
		<li>Integration with Google Calendar</li>
		<li>Integration with Twitter</li>
		<li>User Submitted reviews</li>
		<li>Better ways for users to feed back corrections and new listings</li>
	</ul>
</div>



