<div id="classes">
    
    <h2> <em>Learn!</em> Weekly Classes </h2>
    <%= render :partial => "events/class_listings" %>
</div>

<div id="socials">
    <%= socialsh2 do %> 
        <em>Dance!</em> Clubs and Social dancing
    <%end%>

    <p id="key">
        N.B. Infrequent events are prefixed with a <%= image_tag "highlight_icon.png", alt: "asterisk" %>
    </p>
    <%= render :partial => "events/social_listings" %>
</div>
