=render :partial => 'website/site_description'
#classes
  %h2
    %em Learn!
    Weekly Classes
  = render :partial => "events/class_listings"
#socials
  = socialsh2 do
    %em Dance!
    Clubs and Social dancing

  %p#key
    N.B. Infrequent events are prefixed with a
    = image_tag "highlight_icon.png", alt: "asterisk"
  = render :partial => "events/social_listings"
