<div class="vcard">
    <h3 class="url fn"><%= link_to @venue.name, @venue.website %></h3>

    <div class="adr">
        <p><%=h @venue.area %></p>
        <p><%=h @venue.address %></p>
    	<p class="postal-code"><%=h @venue.postcode %></span>
    </div>
</div>