<main class="page">
  <h1>Users</h1>
  <ul>
    <% users.each do |user| %>
      <li>
        <%= user.id %>
        <%= user.name %>
        <% if user.admin? %>
          (Admin)
        <% end %>
      </li>
    <% end %>
  </ul>
</main>
