#admin_bar
  %ul
    %li>= link_to "Swing Out London", root_path
    %li>
      .navlink>= link_to "New Event", new_event_path
      .navlink>= link_to "Events", events_path
    %li>
      .navlink>= link_to "New Venue", new_venue_path
      .navlink>= link_to "Venues", venues_path
    %li>
      .navlink>= link_to "New Organiser", new_organiser_path
      .navlink>= link_to "Organisers", organisers_path
    %li>
      .navlink>= link_to "Import csv", new_events_import_path
      .navlink>= link_to "Outdated", outdated_path
    %li.account-link
      .navlink.navlink-right>= link_to current_user.name, account_path
