<section class="content">
  <% @page.content_partials.each do |partial| %>
    <%= render partial.path %>
  <% end %>
</section>

<% @page.sidebar_partials.each do |partial| %>
  <aside class="sidebar" id="<%= partial.name %>">
    <%= render partial.path %>
  </aside>
<% end %>

<%= render "info/listings_policy/music_policy" %>
