<section class="content">
  <h2>Privacy Policy</h2>
  <p>Your privacy is important to us. It is <%= tc("site_name") %>'s policy to respect your privacy regarding any information we may collect from you across our website, <a href="<%= tc("site_url") %>"><%= tc("site_url") %></a>, and other sites we own and operate.</p>
  <p>We use Facebook to authenticate editors of the site content. We do not have user accounts: instead the name and associated facebook app ID of editors are stored in an encrypted session cookie on your computer which you can delete at any time (this will log you out) or will be automatically deleted when you quit your browser.</p>
  <p>The editor's name is then used to annotate records on the site which they edit. This name is only visible to other authenticated editors and can be anonymised by making a request on the slack channel which all editors have access to. We do not collect any additional information about editors, and no information is collected in the application about regular visitors to the site.</p>
  <p>The permissions which the <%= tc("site_name") %> site has to access the names of editors from their facebook accounts can be forcibly revoked by editors clicking on their name in the top-right corner of the logged-in site and clicking "Disable my login".</p>
  <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
  <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
  <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
  <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
  <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
  <p>This policy is effective as of 7 March 2022.</p>
</section>
