- content_for :analytics do
  = render "layouts/google_analytics"

- content_for :stylesheet do
  = stylesheet_link_tag 'application', media: "screen"

- content_for :content do
  #page
    = yield

= render :template => 'layouts/application'
