- content_for :stylesheet do
  = stylesheet_link_tag 'application', media: "screen"
  :css
    h1 { font-size: 6em; }
    p { font-size: 1.5em; font-style: italic;}
    #page { padding: 40px 80px 80px; }

    li { font-size: 1.5em; }
    label { font-size: 40px; }
    input { font-size: 40px; margin-bottom: 40px; padding: 5px 10px; width: 70%; }


- content_for :content do
  #page
    = yield

= render :template => 'layouts/application'